In [261]:
import pandas as pd
import numpy as np
import random

## ---trembl

In [2]:
data = pd.read_csv('./results/uniprot_trembl_ecraw_compared.tsv', sep='\t', names=['id', 'sseqid', 'pident', 'length','mismatch','gapopen','qstart','qend','sstart','send','evalue','bitscore'])
data.head(3)

In [3]:
data.shape

(31754589, 12)

In [75]:
data.head(3)

,id,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,O08452,P06278,31.8,453,226,18,4,384,5,446,4.600000e-43,161.0
1,H9BV67,Q58256,71.7,254,71,1,1,254,231,483,4.400000e-125,368.0
2,L0AQC3,Q49605,66.9,160,45,1,1,160,249,400,2.860000e-69,221.0

In [76]:
data1 = data[data['pident']<75.0]
data1 = data1[data1['pident']>50]
data1.shape

(10864675, 12)

In [5]:
rawdata = pd.read_csv('./results/uniprot_trembl_ecraw.tsv', sep='\t')
rawdata['seqlength'] = rawdata['seq'].map(lambda x : len(x))
rawdata.head(3)

,id,description,seq,seqlength
0,O08452,3.2.1.1,MNIKKLTPLLTLLLFFIVLASPVSAAKYLELEEGGVIMQAFYWDVP...,460
1,H9BV67,2.8.4.1,AMQIGMSFIGAYKMCAGEAAVADLAFAAKHAGVIQMADILPARRAR...,254
2,L0AQC3,2.8.4.1,AAVADLAFAAKHAGVIQMGDILPARRARGPNEPGGIKFGHFADMIQ...,160

In [9]:
data2 = pd.merge(data1, rawdata, on=['id'])
data2.head(2)

In [19]:
data3 = data2[data2['length']/data2['seqlength']> 0.7]

In [21]:
data3.to_csv('./results/uniprot_trembl_ec_data.tsv',index=False, sep='\t',header=True)

In [23]:
len(data3['description'].unique())

9320

In [25]:
data4 = pd.value_counts(data3['description'])

In [29]:
data4.to_csv('./results/uniprot_trembl_ec_statistic.tsv',index=True, sep='\t',header=False)

In [40]:
data5 = data4[data4.values>=10]

In [119]:
aa = pd.DataFrame(trecnums)
len(aa[0].unique())

8399

In [122]:
data2.shape

(20393426, 15)

## ---sprot

In [80]:
sprot = pd.read_csv('./results/uniprot_sprot_ecraw.tsv', sep='\t')
sprot['seqlength'] = sprot['seq'].map(lambda x : len(x))
sprot.head(3)

,id,description,seq,seqlength
0,Q6GZW6,3.6.4.-,MDTSPYDFLKLYPWLSRGEADKGTLLDAFPGETFEQSLASDVAMRR...,948
1,Q6GZV6,2.7.11.1,MATNYCDEFERNPTRNPRTGRTIKRGGPVFRALERECSDGAARVFP...,851
2,Q197B6,2.7.11.-,MPLSVFAEEFAEKSVKRYIGQGLWLPCNLSDYYYYQEFHDEGGYGS...,335

In [83]:
len(data3['description'].unique())

9320

In [50]:
sprot_ec = pd.value_counts(sprot['description'])

In [52]:
sprot_ec.to_csv('./results/uniprot_sprot_ec_statistic.tsv',index=True, sep='\t',header=False)
sprot_ec.head(3)

In [84]:
sprot_ec_extened = pd.DataFrame()
sprot_ec_extened['ecnumber'] = sprot_ec.index
sprot_ec_extened['counts'] = sprot_ec.values
sprot_ec_extened['eclength']  = sprot_ec_extened['ecnumber'].map(lambda x : len(x))
sprot_ec_extened.head(5)

   ecnumber counts  eclength
0   7.1.1.-   4638         7
1   3.1.-.-   3987         7
2   2.7.7.6   3947         7
3  2.7.11.1   2443         8
4   2.1.1.-   2290         7

In [85]:
sprot_ec_extened

,ecnumber,counts,eclength
0,7.1.1.-,4638,7
1,3.1.-.-,3987,7
2,2.7.7.6,3947,7
3,2.7.11.1,2443,8
4,2.1.1.-,2290,7
...,...,...,...
6453,4.2.3.130,1,9
6454,"4.2.2.7, 4.2.2.8",1,16
6455,1.1.1.51,1,8
6456,ecnumber,"Index(['7.1.1.-', '3.1.-.-', '2.7.7.6', '2.7.1...",8
6457,counts,"[4638, 3987, 3947, 2443, 2290, 2185, 2159, 148...",6

In [87]:
sprot.head(3)

,id,description,seq,seqlength
0,Q6GZW6,3.6.4.-,MDTSPYDFLKLYPWLSRGEADKGTLLDAFPGETFEQSLASDVAMRR...,948
1,Q6GZV6,2.7.11.1,MATNYCDEFERNPTRNPRTGRTIKRGGPVFRALERECSDGAARVFP...,851
2,Q197B6,2.7.11.-,MPLSVFAEEFAEKSVKRYIGQGLWLPCNLSDYYYYQEFHDEGGYGS...,335

In [88]:
sprot.shape

(270236, 4)

In [94]:
ecnums =[]
ecnums.append(sprot['description'].map(lambda x : x.split(',')).values)

In [105]:
ecnums =[]
for i in range (len(sprot['description'])):
    ecnums += sprot['description'][i].split(',')

In [107]:
len(ecnums)

293150

In [111]:
aa = pd.DataFrame(ecnums)

In [116]:
len(aa[0].unique())

6312

In [129]:
sprot[sprot['id']=='B9JH54']

,id,description,seq,seqlength
135105,B9JH54,2.7.8.13,MLIWLAELSDHIHFFSTHFRFLNLFRYITFRTGGALFTSALIVFLF...,373

In [130]:
sprot[sprot['id']=='Q6G121']

,id,description,seq,seqlength
135159,Q6G121,2.7.8.13,MMLFFSSLSDWFPGVSVFRYITFRTVAAMLTSGLIVFLFGPSIIAS...,356

### ----------- 数据集筛选第一步

In [131]:
data = pd.read_csv('./data/sprot_with_ec_query_results.tsv', sep='\t', names=['id', 'sseqid', 'pident', 'length','mismatch','gapopen','qstart','qend','sstart','send','evalue','bitscore'])
data.head(3)

,id,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,A7HH64,B8J8E5,83.2,380,64,0,1,380,1,380,1.450000e-230,634.0
1,B9KH29,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0
2,Q5P9K3,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0

In [133]:
data2 = pd.read_csv('./data/sprot_with_ec.tsv', sep='\t', names=['id','ec_number', 'sequence'])

In [136]:
data2['seqlength'] = data2['sequence'].map(lambda x : len(x))
data2.head(3)

,id,ec_number,sequence,seqlength
0,Q6GZW6,3.6.4.-,MDTSPYDFLKLYPWLSRGEADKGTLLDAFPGETFEQSLASDVAMRR...,948
1,Q6GZV6,2.7.11.1,MATNYCDEFERNPTRNPRTGRTIKRGGPVFRALERECSDGAARVFP...,851
2,Q197B6,2.7.11.-,MPLSVFAEEFAEKSVKRYIGQGLWLPCNLSDYYYYQEFHDEGGYGS...,335

In [137]:
res = pd.merge(data2,data, on=['id'], how='inner')
res.head(5)

,id,ec_number,sequence,seqlength,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,A7HH64,2.7.8.13,MLYHFLYPLSGQFGLFNVLRYPSFRIVAAGLVSLLIGLLLGPLFIE...,380,B8J8E5,83.2,380,64,0,1,380,1,380,1.450000e-230,634.0
1,B9KH29,2.7.8.13,MFSPIGKVAQPYFCSFLLSTILGFVIAPRTIAALKNIQKGRNPVRS...,342,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0
2,Q5P9K3,2.7.8.13,MFSPIGKVAQPYFCSFLLSTILGFVIAPRTIAALKNIQKGRNPVRS...,342,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0
3,B4UER8,2.7.8.13,MLYHLLYPLAYKLSLLNVLRYPSFRIVAAGLTAMVLGLLLGPIFIE...,380,B8J8E5,100.0,380,0,0,1,380,1,380,6.080000e-271,736.0
4,B7GGI5,2.7.8.13,MNEKVILFTAGLAFIITVVLSPIFIPFLRRLKFGQSIREEGPKSHQ...,324,A6TS64,47.4,329,157,5,1,317,2,326,1.040000e-88,270.0

In [143]:
res['coverage'] = res.apply(lambda x: x['length']/x['seqlength'], axis=1)
res.head(5)

,id,ec_number,sequence,seqlength,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore,coverage
0,A7HH64,2.7.8.13,MLYHFLYPLSGQFGLFNVLRYPSFRIVAAGLVSLLIGLLLGPLFIE...,380,B8J8E5,83.2,380,64,0,1,380,1,380,1.450000e-230,634.0,1.000000
1,B9KH29,2.7.8.13,MFSPIGKVAQPYFCSFLLSTILGFVIAPRTIAALKNIQKGRNPVRS...,342,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0,0.944444
2,Q5P9K3,2.7.8.13,MFSPIGKVAQPYFCSFLLSTILGFVIAPRTIAALKNIQKGRNPVRS...,342,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0,0.944444
3,B4UER8,2.7.8.13,MLYHLLYPLAYKLSLLNVLRYPSFRIVAAGLTAMVLGLLLGPIFIE...,380,B8J8E5,100.0,380,0,0,1,380,1,380,6.080000e-271,736.0,1.000000
4,B7GGI5,2.7.8.13,MNEKVILFTAGLAFIITVVLSPIFIPFLRRLKFGQSIREEGPKSHQ...,324,A6TS64,47.4,329,157,5,1,317,2,326,1.040000e-88,270.0,1.015432

In [144]:
cc = res

In [150]:
resArray =[]
for i in range(len(res)):
    aa = res[res['id']==res['sseqid'][i]]['ec_number']
    resArray+=aa

In [194]:
counter =0
resArray =[]
for i in range(len(res)):
    mn = data2[data2['id']== res['sseqid'][i]]['ec_number'].values
    counter+=1
    resArray.append(mn)

    
# data[data['id']=='B8J8E5']

In [196]:
res.shape
res['sresults_ec']=np.array(resArray)
res.head(5)

,id,ec_number,sequence,seqlength,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore,coverage,sresults_ec
0,A7HH64,2.7.8.13,MLYHFLYPLSGQFGLFNVLRYPSFRIVAAGLVSLLIGLLLGPLFIE...,380,B8J8E5,83.2,380,64,0,1,380,1,380,1.450000e-230,634.0,1.000000,2.7.8.13
1,B9KH29,2.7.8.13,MFSPIGKVAQPYFCSFLLSTILGFVIAPRTIAALKNIQKGRNPVRS...,342,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0,0.944444,2.7.8.13
2,Q5P9K3,2.7.8.13,MFSPIGKVAQPYFCSFLLSTILGFVIAPRTIAALKNIQKGRNPVRS...,342,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0,0.944444,2.7.8.13
3,B4UER8,2.7.8.13,MLYHLLYPLAYKLSLLNVLRYPSFRIVAAGLTAMVLGLLLGPIFIE...,380,B8J8E5,100.0,380,0,0,1,380,1,380,6.080000e-271,736.0,1.000000,2.7.8.13
4,B7GGI5,2.7.8.13,MNEKVILFTAGLAFIITVVLSPIFIPFLRRLKFGQSIREEGPKSHQ...,324,A6TS64,47.4,329,157,5,1,317,2,326,1.040000e-88,270.0,1.015432,2.7.8.13

In [202]:
# res.to_csv('./results/sprot_ec_statistic.tsv',index=True, sep='\t',header=True)

res['iscorrect'] = res.apply(lambda x: x['ec_number'] == x['sresults_ec'], axis=1)

In [247]:
res.head(3)

,id,ec_number,sequence,seqlength,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore,coverage,sresults_ec,iscorrect
0,A7HH64,2.7.8.13,MLYHFLYPLSGQFGLFNVLRYPSFRIVAAGLVSLLIGLLLGPLFIE...,380,B8J8E5,83.2,380,64,0,1,380,1,380,1.450000e-230,634.0,1.000000,2.7.8.13,True
1,B9KH29,2.7.8.13,MFSPIGKVAQPYFCSFLLSTILGFVIAPRTIAALKNIQKGRNPVRS...,342,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0,0.944444,2.7.8.13,True
2,Q5P9K3,2.7.8.13,MFSPIGKVAQPYFCSFLLSTILGFVIAPRTIAALKNIQKGRNPVRS...,342,Q0A6J9,43.7,323,170,6,22,335,36,355,9.890000e-82,254.0,0.944444,2.7.8.13,True

In [245]:
sum(res['iscorrect'])/len(res)

0.273220891841362

In [251]:
resArray = []
for i in range(100):
    a1 = res[res['pident'] >i]
    c_num = sum(a1['iscorrect'])
    c_len = len(a1)
    resArray.append([c_num, c_len, ])

In [252]:
pd.DataFrame(resArray)

        0      1                                                  2
0   13737  50278  0        0.00002
1        0.00002
2        0.0...
1   13737  50278  0        0.00002
1        0.00002
2        0.0...
2   13737  50278  0        0.00002
1        0.00002
2        0.0...
3   13737  50278  0        0.00002
1        0.00002
2        0.0...
4   13737  50278  0        0.00002
1        0.00002
2        0.0...
..    ...    ...                                                ...
95     51     85  3        0.011765
3797     0.000000
4814     0...
96     47     76  3        0.013158
3797     0.000000
4814     0...
97     34     59  3        0.016949
3797     0.000000
4814     0...
98     29     49  3        0.020408
3797     0.000000
4814     0...
99     21     36  3        0.027778
6095     0.027778
6434     0...

[100 rows x 3 columns]

In [1]:
a2 = res[(res['pident'] >80) & (res['coverage'] >0.9)]
sum(a2['iscorrect'])/len(a2)

NameError: name 'res' is not defined

### 将sprot随机划分为两半

In [289]:
def table_2_fasta(table, file_out):
    file = open(file_out, 'w')
    for index, row in table.iterrows():
        file.write('>{0}\n'.format(row['id']))
        file.write('{0}\n'.format(row['seq']))
    file.close()
    print('Write finished')

In [288]:
sprot = pd.read_csv('./data/sprot_with_ec.tsv', sep='\t',names=['id', 'ec_number', 'seq']) #读入文件
index_ref = random.sample(range(0,len(sprot)), int(len(sprot)/2))  #创建随机index
sprot_ref = sprot.iloc[index_ref]     #筛选ref
sprot_query = sprot.iloc[~sprot.index.isin(index_ref)] # 剩下的是Query
table_2_fasta(sprot_ref, './data/sprot_with_ec_ref.fasta')   #写入文件ref
table_2_fasta(sprot_query, './data/sprot_with_ec_query.fasta') #写入文件query

In [ ]:
! ./diamond makedb --in ./data/sprot_with_ec_ref.fasta -d ./data/sprot_with_ec_ref.dmnd     #建库
! ./diamond blastp -d ./data/sprot_with_ec_ref.dmnd  -q ./data/sprot_with_ec_query.fasta -o ./data/sprot_with_ec_query_result.tsv -b5 -c1 -k 1   #生成比对文件