# 0. 导入必要的包

In [1]:
import pandas as pd
import numpy as np

# 1. 定义必要的函数

In [2]:
def calulate_distinct_EC(eclist):
    counter =0
    res = []
    for item in eclist:
        itemArray = item.split(',')
        res+=itemArray
    res = np.array(res, dtype=object).flatten()
    res = np.unique(res)
    return res

def get_ec_list(ec_table):
    ec_list = calulate_distinct_EC(ec_table.ec_number)
    ec_list = pd.DataFrame({'ec_number':ec_list})

    ec_list['c1'] = ec_list.ec_number.map(lambda x: x.split('.')[0].strip())
    ec_list['c2'] = ec_list.ec_number.map(lambda x: x.split('.')[1].strip())
    ec_list['c3'] = ec_list.ec_number.map(lambda x: x.split('.')[2].strip())
    ec_list['c4'] = ec_list.ec_number.map(lambda x: x.split('.')[3].strip())

    return ec_list

# 2. Sprot
## 2.1 加载数据

In [3]:
sprot = pd.read_csv('./data/sprot_with_ec.tsv', sep='\t',names=['id', 'ec_number', 'date_integraged','date_sequence_update','date_annotation_update','seq']) #读入文件
sprot.date_integraged = pd.to_datetime(sprot['date_integraged'])
sprot.date_sequence_update = pd.to_datetime(sprot['date_sequence_update'])
sprot.date_annotation_update = pd.to_datetime(sprot['date_annotation_update'])
sprot.head(3)

,id,ec_number,date_integraged,date_sequence_update,date_annotation_update,seq
0,Q6GZW6,3.6.4.-,2011-06-28,2004-07-19,2020-08-12,MDTSPYDFLKLYPWLSRGEADKGTLLDAFPGETFEQSLASDVAMRR...
1,Q6GZV6,2.7.11.1,2011-06-28,2004-07-19,2021-02-10,MATNYCDEFERNPTRNPRTGRTIKRGGPVFRALERECSDGAARVFP...
2,Q197B6,2.7.11.-,2009-06-16,2006-07-11,2020-08-12,MPLSVFAEEFAEKSVKRYIGQGLWLPCNLSDYYYYQEFHDEGGYGS...

## 2.2 统计独立的EC号， 并拆分等级

In [4]:
ec_list = get_ec_list(sprot)
ec_list.head(3)

  ec_number c1 c2 c3 c4
0   1.-.-.-  1  -  -  -
1    1.1.1.  1  1  1
2   1.1.1.-  1  1  1  -

## 2.3 统计每一级的EC号

In [5]:
L1 = ec_list['c1'].value_counts().sort_index()
L2 = ec_list['c2'].value_counts().sort_index()
L3 = ec_list['c3'].value_counts().sort_index()
L4 = ec_list['c4'].value_counts().sort_index()
print('Level 1 EC: {0} 个'.format(len(L1)))
print('Level 2 EC: {0} 个'.format(len(L2)))
print('Level 3 EC: {0} 个'.format(len(L3)))
print('Level 4 EC: {0} 个'.format(len(L4)))

Level 1 EC: 7 个
Level 2 EC: 25 个
Level 3 EC: 32 个
Level 4 EC: 417 个

In [6]:
sprot_ec_konwn = ec_list[(ec_list.c1 !='-') & (ec_list.c2 !='-') & (ec_list.c3!='-') & (ec_list.c4!='-')]
print('Sprot 共有：「{0}」个独立的EC NUMBER.'.format(ec_list.shape[0]))
print('Sprot 共有：「{0}」个不含未知项的EC NUMBER.'.format(sprot_ec_konwn.shape[0]))

Sprot 共有：「6312」个独立的EC NUMBER.
Sprot 共有：「6005」个不含未知项的EC NUMBER.

## 2.4 将不含未知项EC号的数据保存

In [7]:
sprot_full_ec = sprot[~sprot['ec_number'].str.contains('-')]
sprot_full_ec.to_csv('./data/sprot_full_ec.tsv',index=False, sep='\t',header=0)

# 3. Trembl

In [11]:
trembl = pd.read_csv('./data/trembl_with_ec.tsv', sep='\t',names=['id', 'ec_number', 'date_integraged','date_sequence_update','date_annotation_update','seq']) #读入文件
trembl.date_integraged = pd.to_datetime(trembl['date_integraged'])
trembl.date_sequence_update = pd.to_datetime(trembl['date_sequence_update'])
trembl.date_annotation_update = pd.to_datetime(trembl['date_annotation_update'])
trembl.head(3)

,id,ec_number,date_integraged,date_sequence_update,date_annotation_update,seq
0,O08452,3.2.1.1,01-JUL-1997,01-JUL-1997,07-OCT-2020,MNIKKLTPLLTLLLFFIVLASPVSAAKYLELEEGGVIMQAFYWDVP...
1,H9BV67,2.8.4.1,16-MAY-2012,16-MAY-2012,07-OCT-2020,AMQIGMSFIGAYKMCAGEAAVADLAFAAKHAGVIQMADILPARRAR...
2,L0AQC3,2.8.4.1,06-MAR-2013,06-MAR-2013,07-OCT-2020,AAVADLAFAAKHAGVIQMGDILPARRARGPNEPGGIKFGHFADMIQ...

## 3.2 统计独立的EC号， 并拆分等级

In [16]:
ec_list = get_ec_list(trembl)
ec_list.head(3)

  ec_number c1 c2 c3 c4
0   1.-.-.-  1  -  -  -
1   1.1.-.-  1  1  -  -
2    1.1.1.  1  1  1

## 3.3 统计每一级的EC号

In [17]:
L1 = ec_list['c1'].value_counts().sort_index()
L2 = ec_list['c2'].value_counts().sort_index()
L3 = ec_list['c3'].value_counts().sort_index()
L4 = ec_list['c4'].value_counts().sort_index()
print('Level 1 EC: {0} 个'.format(len(L1)))
print('Level 2 EC: {0} 个'.format(len(L2)))
print('Level 3 EC: {0} 个'.format(len(L3)))
print('Level 4 EC: {0} 个'.format(len(L4)))

Level 1 EC: 7 个
Level 2 EC: 25 个
Level 3 EC: 32 个
Level 4 EC: 407 个

In [18]:
trembl_ec_konwn = ec_list[(ec_list.c1 !='-') & (ec_list.c2 !='-') & (ec_list.c3!='-') & (ec_list.c4!='-')]
print('Sprot 共有：「{0}」个独立的EC NUMBER.'.format(ec_list.shape[0]))
print('Sprot 共有：「{0}」个不含未知项的EC NUMBER.'.format(trembl_ec_konwn.shape[0]))

Sprot 共有：「8285」个独立的EC NUMBER.
Sprot 共有：「7828」个不含未知项的EC NUMBER.

## 3.4 将不含未知项EC号的数据保存

In [19]:
trembl_full_ec = trembl[~trembl['ec_number'].str.contains('-')]
trembl_full_ec.to_csv('./data/trembl_full_ec.tsv',index=False, sep='\t', )

# 4.不通数据中EC号比对

In [219]:
in_trembl_notin_sprot = trembl_ec_konwn[~trembl_ec_konwn.ec_number.isin(sprot_ec_konwn.ec_number)]
in_sprot_notin_trembl = sprot_ec_konwn[~sprot_ec_konwn.ec_number.isin(trembl_ec_konwn.ec_number)]
print('Trembl中出现的非空EC号个数为：{0}'.format(len(trembl_ec_konwn)))
print('Sprot中出现的非空EC号个数为：{0}'.format(len(sprot_ec_konwn)))

Trembl中出现的非空EC号个数为：7828
Sprot中出现的非空EC号个数为：6005

In [220]:
sprot[sprot_ec_konwn.ec_number.isin(trembl_ec_konwn.ec_number)]

,id,ec_number,date_integraged,date_sequence_update,date_annotation_update,seq
0,Q6GZW6,3.6.4.-,2011-06-28,2004-07-19,2020-08-12,MDTSPYDFLKLYPWLSRGEADKGTLLDAFPGETFEQSLASDVAMRR...
1,Q6GZV6,2.7.11.1,2011-06-28,2004-07-19,2021-02-10,MATNYCDEFERNPTRNPRTGRTIKRGGPVFRALERECSDGAARVFP...
2,Q197B6,2.7.11.-,2009-06-16,2006-07-11,2020-08-12,MPLSVFAEEFAEKSVKRYIGQGLWLPCNLSDYYYYQEFHDEGGYGS...
3,Q6GZS1,3.6.4.-,2011-06-28,2004-07-19,2020-08-12,MAKLLRLNAIDGDMPGAGEADLFTLAPGGKAYVPFAWGSRVLGCKP...
4,Q196Y0,3.6.1.-,2009-06-16,2006-07-11,2020-08-12,MDNETSTPDIFQWCVSPFSKITLKRSMEQRDIVEFRIDATILRQIF...
...,...,...,...,...,...,...
270231,Q4R4A2,"3.4.19.12, 3.4.19.12",2006-06-27,2005-07-19,2020-12-02,MLSCDICGETVTSEPDMKAHLIVHMENEIVCPFCKLSGVSYDEMCF...
270232,Q3T9Z9,3.4.19.12,2006-06-27,2006-06-27,2021-04-07,MLSCNICGETVNSEPDMKAHLIVHMENEIICPFCKLSGINYNEICF...
270233,Q5U2S3,3.4.19.12,2006-06-27,2004-12-07,2020-12-02,MLSCDICGETVTSEPDRKAHLIVHMENEIICPFCKLSGINYNEMCF...
270234,Q621J7,2.7.11.1,2005-04-12,2004-11-23,2021-02-10,MSGGKSGTKLSSFQNLQQIGQGGFGVVYSAQRENGEKVAIKKIGNA...
270235,Q9GT24,2.7.11.1,2005-04-12,2001-03-01,2021-04-07,MSGGKSGSRLSAYSHLKEIGKGGFGVVYAAQRENGEKVAIKRIDKK...

In [33]:
# trembl_full_ec = pd.read_csv('./data/trembl_full_ec.tsv', sep='\t',names=['id', 'ec_number', 'date_integraged','date_sequence_update','date_annotation_update','seq'])

trembl_full_ec['label_count'] = trembl_full_ec.ec_number.map(lambda x: x.count(',') + 1)
# query['seq'].map(lambda x : len(x))

<ipython-input-33-7154929d1774>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  trembl_full_ec['label_count'] = trembl_full_ec.ec_number.map(lambda x: x.count(',') + 1)

In [35]:
trembl_full_ec[trembl_full_ec.label_count>1]

,id,ec_number,date_integraged,date_sequence_update,date_annotation_update,seq,label_count
45,A0A7G9YY52,"3.5.4.41, 3.5.4.31, 3.5.4.4, 3.5.4.28",2021-02-10,2021-02-10,2021-04-07,MINMSILIKNVLLEGKERNIYIEGNLIEAISKAGNGKEAEFVIDGK...,4
66,A0A7G9YWQ6,"4.2.1.136, 5.1.99.6",2021-02-10,2021-02-10,2021-04-07,MKEEKEEALSSAEMAAIDENCKFFGLSSAQLMENAGAGIANVIKRK...,2
237,A0A2D0TC99,"1.12.1.2, 1.12.99.6",2017-12-20,2017-12-20,2021-04-07,MVKIATTWLGGCSGCHISLLDLHEELLNLLENVELVHCPVLMDVKE...,2
260,A0A2D0TCA6,"1.12.99.6, 1.12.1.2",2017-12-20,2017-12-20,2021-04-07,MVKLSVEPVTRVEGHGKISVSFDDSGNLDKVRFHVVEVRGFEKFLE...,2
308,D1JA39,"5.4.2.2, 5.4.2.8",2010-01-19,2010-01-19,2020-10-07,MHTKKREISADIFRAYDIRGIYNDDLYPETMLKIGLGLGTYAKERS...,2
...,...,...,...,...,...,...,...
32826185,E0WDN6,"2.7.7.49, 3.1.26.13",2010-11-02,2010-11-02,2020-12-02,FFRENLAFQQREARKFPSEQTRTNSPTSRECGDGGRNTLXSEAGTE...,2
32826186,B9W4E1,"2.7.7.49, 3.1.26.13",2009-03-24,2009-03-24,2020-12-02,FFRENLAFQQREARKFSSEQTRTNSPTNGEPWGGGRDNLPCETGTE...,2
32826187,H6SH45,"2.7.7.49, 3.1.26.13",2012-04-18,2012-04-18,2020-12-02,FFRENLAFQQREARKFSSEQTRAISPTSRKLWDGGRDNPLPETGTE...,2
32826188,B9W4F0,"2.7.7.49, 3.1.26.13",2009-03-24,2009-03-24,2020-12-02,FFREGLAFQQREARQFSSEQTGTNSPTSRELRDRGRDNLLSEAGTE...,2
32826189,E0WDP2,"2.7.7.49, 3.1.26.13",2010-11-02,2010-11-02,2020-12-02,FFRENLAFQQGEARKFSPEQARAHSPTGXELRVRRGDSPLPEAGAE...,2

In [21]:
sprot_full_ec = pd.read_csv('./data/sprot_full_ec.tsv', sep='\t',names=['id', 'ec_number', 'date_integraged','date_sequence_update','date_annotation_update','seq'])

In [42]:
trembl_full_ec.label_count.value_counts().sort_index()

1     27557246
2      1102754
3        93027
4        18979
5        20058
6          399
7           73
8          502
9           33
10           1
Name: label_count, dtype: int64

In [44]:
# trembl = pd.read_csv('./data/trembl_with_ec.tsv', sep='\t',names=['id', 'ec_number', 'date_integraged','date_sequence_update','date_annotation_update','seq']) #读入文件

sprot_full_ec['label_count'] = sprot_full_ec.ec_number.map(lambda x: x.count(',') + 1)
sprot_full_ec.label_count.value_counts().sort_index()

<ipython-input-44-6baa338098ee>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sprot_full_ec['label_count'] = sprot_full_ec.ec_number.map(lambda x: x.count(',') + 1)

1    215175
2     10383
3       911
4       422
5       117
6        88
8         5
Name: label_count, dtype: int64

In [25]:
trembl[trembl.id=='E0WDN6']

,id,ec_number,date_integraged,date_sequence_update,date_annotation_update,seq
32826185,E0WDN6,"2.7.7.49, 3.1.26.13",02-NOV-2010,02-NOV-2010,02-DEC-2020,FFRENLAFQQREARKFPSEQTRTNSPTSRECGDGGRNTLXSEAGTE...