In [1]:
import numpy as np
import pandas as pd

In [3]:
a = np.load("./temp/EUR-Lex 2/AttentionXML-EUR-Lex-labels.npy",  allow_pickle=True)

In [6]:
pd.DataFrame(a)

,0,1,2,3,4,5,6,7,8,9,...,90,91,92,93,94,95,96,97,98,99
0,306,2680,50,85,48,99,26,462,97,257,...,523,238,313,368,3,18,41,718,1099,2
1,46,18,501,77,409,379,185,13,504,3305,...,1619,673,2215,3764,2936,495,1649,1293,883,819
2,55,536,929,1251,1960,892,720,1108,196,468,...,813,793,1389,1473,1281,50,257,3420,32,3545
3,465,65,687,0,233,189,442,266,295,1163,...,176,431,21,551,100,111,1326,70,467,9
4,700,1913,1422,1432,1949,1522,34,540,693,32,...,840,2702,882,1073,1264,167,982,932,51,1967
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3798,21,198,361,547,4,24,11,52,3,20,...,1321,1023,167,678,51,476,865,424,89,1677
3799,6,0,308,8,21,16,20,33,1,60,...,294,136,192,48,395,884,141,1242,238,1121
3800,41,667,320,34,130,0,31,266,233,78,...,240,697,675,111,2756,12,289,100,1475,530
3801,8,116,32,226,3067,23,825,51,1735,436,...,241,71,803,181,1843,1073,54,420,264,132
3802,191,77,62,658,533,32,47,116,3,15,...,1630,2118,737,1470,1055,1068,703,209,669,109