In [147]:
import numpy as np
import pandas as pd
import random
import sys
import os
from tqdm import tqdm
sys.path.append("./tools/")
import funclib
import time
import ucTools
import benchmark_common as bcommon
import benchmark_train as btrain
import benchmark_test as btest
import benchmark_config as cfg
import benchmark_evaluation as eva

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [148]:
# 1. 读入数据
print('step 1: loading data')
train = pd.read_feather(cfg.TRAIN_FEATURE).iloc[:,:5]
test = pd.read_feather(cfg.TEST_FEATURE)

dict_ec_label = np.load(cfg.FILE_EC_LABEL_DICT, allow_pickle=True).item() #EC-标签字典
dict_ec_transfer = np.load(cfg.FILE_TRANSFER_DICT, allow_pickle=True).item() #EC-转移字典

# 2. 获取序列比对结果

# blast_res = bcommon.getblast(query_fasta=cfg.TEST_FASTA, ref_fasta=cfg.TRAIN_FASTA, results_file=cfg.FILE_BLAST_RESULTS)
# blast_res = bcommon.blast_add_label(blast_df=blast_res, trainset=train)
print('step 2 get blast results')
blast_res = bcommon.get_blast_prediction(  reference_db=cfg.FILE_BLAST_TRAIN_DB, 
                                            train_frame=train, 
                                            test_frame=test.iloc[:,0:7],
                                            results_file=cfg.FILE_BLAST_RESULTS,
                                            identity_thres=cfg.TRAIN_BLAST_IDENTITY_THRES
                                        )

# 3.获取酶-非酶预测结果
print('step 3. get isEnzyme results')
testX, testY = btest.get_test_set(data=test)
isEnzyme_pred, isEnzyme_pred_prob = btest.get_isEnzymeRes(querydata=testX, model_file=cfg.ISENZYME_MODEL)


# 4. 预测几功能酶预测结果
print('step 4. get howmany functions ')
howmany_Enzyme_pred, howmany_Enzyme_pred_prob = btest.get_howmany_Enzyme(querydata=testX, model_file=cfg.HOWMANY_MODEL)

# 5.获取Slice预测结果
print('step 5. get EC prediction results')
# 5.1 准备slice所用文件
bcommon.prepare_slice_file( x_data=testX, 
                            y_data=testY['ec_number'], 
                            x_file=cfg.FILE_SLICE_TESTX,
                            y_file=cfg.FILE_SLICE_TESTY,
                            ec_label_dict=dict_ec_label
                        )
# 5.2 获得预测结果
slice_pred = btest.get_slice_res(slice_query_file=cfg.FILE_SLICE_TESTX, model_path= cfg.MODELDIR, res_file=cfg.FILE_SLICE_RESULTS)

# 5.3 对预测结果排序
slice_pred_rank, slice_pred_prob = btest.sort_results(slice_pred)

# 5.4 将结果翻译成EC号
slice_pred_ec = btest.translate_slice_pred(slice_pred=slice_pred_rank, ec2label_dict = dict_ec_label, test_set=test)
slice_pred_ec['isEnzyme_pred_xg'] = isEnzyme_pred
slice_pred_ec['functionCounts_pred_xg'] = howmany_Enzyme_pred
slice_pred_ec = slice_pred_ec.merge(blast_res, on='id', how='left')

step 1: loading data
step 2 get blast results
Write finished
diamond blastp -d /home/shizhenkun/codebase/BioUniprot/data/benchmark/data/train_blast.dmnd  -q  /home/shizhenkun/codebase/BioUniprot/data/benchmark/tmp/test.fasta -o /home/shizhenkun/codebase/BioUniprot/data/benchmark/results/test_blast_res.tsv -b8 -c1 -k 1
step 3. get isEnzyme results
step 4. get howmany functions
step 5. get EC prediction results

/home/shizhenkun/codebase/BioUniprot/benchmark_common.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  y_data['tags'] = 1

slice files prepared success
./slice_predict /home/shizhenkun/codebase/BioUniprot/data/benchmark/data/slice_test_x.txt /home/shizhenkun/codebase/BioUniprot/data/benchmark/model /home/shizhenkun/codebase/BioUniprot/data/benchmark/results/slice_results.txt -o 32 -b 0 -t 32 -q 0

In [209]:
train

,id,isemzyme,functionCounts,ec_number,ec_specific_level,seq
0,A0A023GPI8,False,0,-,0,ADTIVAVELDTYPNTDIGDPSYPHIGIDIKSVRSKKTAKWNMQNGK...
1,A0A023GPJ0,False,0,-,0,MFGIFSKGEPVSMEGELVQPSSIVINDYEEELHLPLSYWDIKDYKN...
2,A0A023PXA5,False,0,-,0,MLLSELVATASSLPYTAISIHNNCRVPAARHIHHGCRYFHGPPVMH...
3,A0A023PXB0,False,0,-,0,MFINGFVNYPVRTPPNDLLQVVLHGFLRCPLDGSQVDSIGIGHTVH...
4,A0A023PXB5,False,0,-,0,MFALIISSKGKTSGFFFNSSFSSSALVGIAPLTAYSALVTPVFKSF...
...,...,...,...,...,...,...
467502,X5IWS1,False,0,-,0,MKLTCVVIVAALLLTACQLITALDCGGTQKHRALRSTIKLSLLRQH...
467503,X5JA13,False,0,-,0,MTEGIRARGPRSSSVNSVPLILDIEDFKGDFSFDALFGNLVNDLLP...
467504,X5JB51,False,0,-,0,MTERIRARGPRSSSVNSVPLILDIEDFKGDFSFDALFGNLVNDLLP...
467505,X5M5N0,True,1,2.7.11.1,4,MPDSITNGGRPPAPPSSVSSTTASTTGNFGTRRRLVNRIKKVDELH...
467506,X5M8U1,True,1,4.6.1.2,4,MLFLRLFIFTPFLILANCQARRTIKVGLLFVQNVSSLQVGIGYRTS...

In [14]:
slice_pred_ec[slice_pred_ec.id=='T2KN71']

,id,top0,top1,top2,top3,top4,top5,top6,top7,top8,...,top17,top18,top19,isEnzyme_pred_xg,functionCounts_pred_xg,pident,isemzyme_blast,functionCounts_blast,ec_number_blast,ec_specific_level_blast
6340,T2KN71,1.1.1.86,5.3.1.6,1.17.1.8,1.2.1.59,1.2.1.11,1.1.1.267,1.1.1.205,1.1.1.40,1.4.1.12,...,1.3.8.1,4.2.1.9,1.1.1.17,1,1,21.9,True,1.0,3.1.6.1,4.0

In [11]:
blast_res[blast_res.id=='T2KN71']

,id,pident,isemzyme_blast,functionCounts_blast,ec_number_blast,ec_specific_level_blast
4530,T2KN71,21.9,True,1,3.1.6.1,4

In [225]:
test

,id,isemzyme,functionCounts,ec_number,ec_specific_level,seq,seqlength
0,O02324,False,0,-,0,MVSMKEFIGRWKLVHSENFEEYLKEIGVGLLIRKAASLTSPTLEIK...,137
1,P0DQF6,False,0,-,0,MRRFVFLAFVLVLFVIANLDSSSAQVNFSPDWGQGKRSGSSDTCAV...,73
2,P0DQF5,False,0,-,0,MAVILKHLAIILLVFVIEIKMGQGSQIERRSSGVTHEMLSSISKPE...,135
3,P0DQF4,False,0,-,0,MKIIALLLMVFLDFIIVNXAEQNEKKRRDNLGIPGAGDTEDANQAY...,81
4,P0DQF3,False,0,-,0,MFFLGFIIVCASEEQSDNRLPNIDFGLDRGHSGRMTAEYLMGLAAA...,69
...,...,...,...,...,...,...,...
8028,Q9NTI2,True,1,7.6.2.1,4,MLNGAGLDKALKMSLPRRSRIRSSVGPVRSSLGYKKAEDEMSRATS...,1188
8029,D4AA47,True,1,7.6.2.1,4,MNTERDSETTFDEDSQPNDEVVPYSDDETEDELEDQGPAVEPEQNR...,1251
8030,F1RBC8,True,1,7.6.2.4,4,MSVYSKLPSQLKKPLVKKAVVLLIALYGVKKLSPYFFGKLKGRTSK...,766
8031,Q7JUN3,True,1,7.6.2.4,4,MSVLSKYVDRIAEKCEHNGFTKHAFSYALVTSAILALTIKVTIPYV...,730
8032,D3ZHR2,True,1,7.6.2.4,4,MPVLSTPSRPSRVTTLKRTAVVLALTAYGVHKIYPLVRQCLTPARG...,737

In [224]:
train = pd.read_feather(cfg.TRAIN_FEATURE).iloc[:,0:7]
test = pd.read_feather(cfg.TEST_FEATURE).iloc[:,0:7]

In [21]:
train[train.isemzyme]

,id,isemzyme,functionCounts,ec_number,ec_specific_level,seq,seqlength
99,A0A023W421,True,2,"3.1.1.96, 3.1.1.-",4,MKLVVQRVTDASVTVDGAVAGRIGPGIMALVGVTHEDTEEDAAYLA...,147
101,A0A024B7W1,True,6,"3.4.21.91, 3.6.1.15, 3.6.4.13, 2.1.1.56, 2.1.1...",4,MKNPKKKSGGFRIVNMLKRGVARVSPFGGLKRLPAGLLLGHGPIRM...,3423
102,A0A024BTN9,True,1,1.4.3.2,4,SCADDRNPLEECFQETDYEEFLEIARNGLKATSNPKHVVIVGAGMS...,497
105,A0A024RXP8,True,1,3.2.1.91,4,MYRKLAVISAFLATARAQSACTLQSETHPPLTWQKCSSGGTCTQQT...,514
106,A0A024SH20,True,1,3.2.1.4,4,MNKSVAPLLLAASILYGGAAAQQTVWGQCGGIGWSGPTNCAPGSAC...,418
...,...,...,...,...,...,...,...
437682,X2JCV5,True,1,1.4.3.2,4,MNVFFMFSLLFLAALESCADDKNPLEEEFFEADYEEFLLIAKNGLQ...,516
437683,X2L4E2,True,1,1.4.3.2,4,SLLFLAAVGSCADDRNPLEECFRETDYEEFLEIAKNGLSTTSNPKR...,498
437684,X4Y2L4,True,1,3.2.1.36,4,MKEIAVTIDDKNVIASVSESFHGVAFDASLFSPKGLWSFVDITSPK...,489
437688,X5M5N0,True,1,2.7.11.1,4,MPDSITNGGRPPAPPSSVSSTTASTTGNFGTRRRLVNRIKKVDELH...,1850
437689,X5M8U1,True,1,4.6.1.2,4,MLFLRLFIFTPFLILANCQARRTIKVGLLFVQNVSSLQVGIGYRTS...,1088

In [74]:
pd.set_option('display.max_columns', None)

In [51]:
sql ='select * from train_test_common_ec'

In [32]:
sql='select * from tb_snap_2018 limit 10'

In [52]:
uctools =  ucTools.ucTools('172.16.25.20')
cnx_mimic = uctools.db_conn()
cmec = pd.read_sql_query(sql,cnx_mimic)

In [56]:
test[test.ec_number.isin(list(cmec.ec_number)) | ~test.isemzyme]

,id,isemzyme,functionCounts,ec_number,ec_specific_level,seq,seqlength
0,O02324,False,0,-,0,MVSMKEFIGRWKLVHSENFEEYLKEIGVGLLIRKAASLTSPTLEIK...,137
1,P0DQF6,False,0,-,0,MRRFVFLAFVLVLFVIANLDSSSAQVNFSPDWGQGKRSGSSDTCAV...,73
2,P0DQF5,False,0,-,0,MAVILKHLAIILLVFVIEIKMGQGSQIERRSSGVTHEMLSSISKPE...,135
3,P0DQF4,False,0,-,0,MKIIALLLMVFLDFIIVNXAEQNEKKRRDNLGIPGAGDTEDANQAY...,81
4,P0DQF3,False,0,-,0,MFFLGFIIVCASEEQSDNRLPNIDFGLDRGHSGRMTAEYLMGLAAA...,69
...,...,...,...,...,...,...,...
6182,O66164,True,1,6.3.4.3,4,MAQGSDIEIAREAKMQNIAEVGAKVGIPQDALLNYGPYKAKLSWDF...,558
6188,A0A0H3JRU9,True,1,6.4.1.1,4,MKQIKKLLVANRGEIAIRIFRAAAELDISTVAIYSNEDKSSLHRYK...,1150
6189,Q168G2,True,1,6.4.1.3,4,MKDILEQLEDRRAAARLGGGQKRIDAQHGRGKLTARERVDLLLDEG...,510
6190,Q5LUF3,True,1,6.4.1.3,4,MFNKILIANRGEIACRVIKTARKMGISTVAIYSDADKQALHVQMAD...,681
6191,P0DTA4,True,1,6.4.1.3,4,MAGLWVGGSVLVAAGRRGSRSPRPLMRSVALWTLKHVPQYSRQRLL...,730

In [58]:
res_catfam = pd.read_csv(cfg.FILE_CATFAM_RESULTS, sep='\t', names=['id', 'ec_catfam'])

In [61]:
res_catfam[~res_catfam.ec_catfam.isnull()]

          id ec_catfam
205   P0DPK5   2.7.7.6
265   P0DOK8  2.7.7.48
287   P0DPU3   2.3.2.2
386   P48200   4.2.1.3
390   P58107   2.7.7.6
...      ...       ...
8269  A2RKA7  3.6.3.17
8274  B8K1W2  3.6.3.44
8276  Q9NTI2   3.6.3.1
8277  D4AA47   3.6.3.1
8278  D4AA47   2.7.7.6

[1510 rows x 2 columns]

In [376]:
# 1. 读入数据
train = pd.read_feather(cfg.DATADIR+'train.feather').iloc[:,:6]
test = pd.read_feather(cfg.DATADIR+'test.feather').iloc[:,:6]
# test = test[(test.ec_specific_level>=cfg.TRAIN_USE_SPCIFIC_EC_LEVEL) |(~test.isemzyme)]
test.reset_index(drop=True, inplace=True)
# EC-标签字典
dict_ec_label = np.load(cfg.DATADIR + 'ec_label_dict.npy', allow_pickle=True).item()
file_blast_res = cfg.RESULTSDIR + r'test_blast_res.tsv'

flat_table = eva.load_res_data(
    file_slice=cfg.FILE_INTE_RESULTS,
    file_blast=cfg.FILE_BLAST_RESULTS,
    file_deepec=cfg.FILE_DEEPEC_RESULTS,
    file_ecpred=cfg.FILE_ECPRED_RESULTS,
    file_catfam = cfg.FILE_CATFAM_RESULTS,
    file_priam = cfg.FILE_PRIAM_RESULTS,
    train=train,
    test=test
)
evalutation_table = eva.integrate_reslults(flat_table)

In [377]:
evalutation_table

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,functionCounts_deepec,ec_ecpred,isemzyme_ecpred,functionCounts_ecpred,ec_catfam,isenzyme_catfam,functionCounts_catfam,ec_priam,isenzyme_priam,functionCounts_priam,ec_islice,isenzyme_islice,functionCounts_islice,testec_samples,trainec_samples
0,X5CY81,True,1,1.18.1.3,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,1,1.0,1.18.1.2,True,1.0,NaN,False,1,"1.18.1.3, 1.18.1.5, 1.18.1.1, 1.6.5.4, 1.6.99....",True,18,"1.18.1.2, 1.18.1.3",1,2,3.0,28.0
1,X2JI34,True,1,1.14.14.95,True,1.0,1.14.13.158,1.14.13.88,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.1.1.314, 1.14.13.123, 1.14.13.158, 1.14.13.1...",True,75,1.14.14.114,1,1,1.0,NaN
2,X2JE85,True,1,1.14.14.150,True,1.0,1.14.13.120,1.14.13.120,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.120, 1.14.13.121, 1.14.13.119, 1.1.1.3...",True,71,1.14.14.150,1,1,1.0,NaN
3,X2EW55,True,1,1.14.14.-,True,1.0,1.14.13.102,1.14.13.102,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.102, 1.14.13.104, 4.99.1.6, 1.14.13.88...",True,78,1.14.14.141,1,1,25.0,65.0
4,X2EVV9,True,1,1.14.14.-,True,1.0,1.14.-.-,NaN,0,NaN,1.14.13.-,True,1.0,NaN,False,1,"1.14.14.37, 1.14.13.119, 1.14.14.41, 1.14.13.1...",True,71,1.14.-.-,1,1,25.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8277,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
8278,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
8279,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
8280,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
8281,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0

In [379]:
evalutation_table[(evalutation_table.isenzyme_groundtruth==evalutation_table.isenzyme_blast) ]

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,functionCounts_deepec,ec_ecpred,isemzyme_ecpred,functionCounts_ecpred,ec_catfam,isenzyme_catfam,functionCounts_catfam,ec_priam,isenzyme_priam,functionCounts_priam,ec_islice,isenzyme_islice,functionCounts_islice,testec_samples,trainec_samples
0,X5CY81,True,1,1.18.1.3,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,1,1.0,1.18.1.2,True,1.0,NaN,False,1,"1.18.1.3, 1.18.1.5, 1.18.1.1, 1.6.5.4, 1.6.99....",True,18,"1.18.1.2, 1.18.1.3",1,2,3.0,28.0
1,X2JI34,True,1,1.14.14.95,True,1.0,1.14.13.158,1.14.13.88,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.1.1.314, 1.14.13.123, 1.14.13.158, 1.14.13.1...",True,75,1.14.14.114,1,1,1.0,NaN
2,X2JE85,True,1,1.14.14.150,True,1.0,1.14.13.120,1.14.13.120,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.120, 1.14.13.121, 1.14.13.119, 1.1.1.3...",True,71,1.14.14.150,1,1,1.0,NaN
3,X2EW55,True,1,1.14.14.-,True,1.0,1.14.13.102,1.14.13.102,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.102, 1.14.13.104, 4.99.1.6, 1.14.13.88...",True,78,1.14.14.141,1,1,25.0,65.0
4,X2EVV9,True,1,1.14.14.-,True,1.0,1.14.-.-,NaN,0,NaN,1.14.13.-,True,1.0,NaN,False,1,"1.14.14.37, 1.14.13.119, 1.14.14.41, 1.14.13.1...",True,71,1.14.-.-,1,1,25.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8265,A0A023IWG3,False,0,-,False,0.0,-,NaN,0,NaN,NaN,NaN,NaN,NaN,False,1,"2.7.7.87, 1.1.1.294",True,2,-,0,0,4454.0,246562.0
8267,A0A023IWG1,False,0,-,False,0.0,-,NaN,0,NaN,NaN,NaN,NaN,NaN,False,1,NaN,False,1,-,0,0,4454.0,246562.0
8268,A0A023IWE3,False,0,-,False,0.0,-,NaN,0,NaN,NaN,NaN,NaN,NaN,False,1,2.7.7.87,True,1,-,0,0,4454.0,246562.0
8269,A0A023IWE2,False,0,-,False,0.0,-,NaN,0,NaN,NaN,NaN,NaN,NaN,False,1,"1.1.1.294, 1.14.13.71",True,2,-,0,0,4454.0,246562.0
8272,A0A023IWD9,False,0,-,False,0.0,-,NaN,0,NaN,NaN,NaN,NaN,NaN,False,1,NaN,False,1,-,0,0,4454.0,246562.0

In [380]:
5652/8033

0.7035976596539275

In [385]:
evalutation_table[(evalutation_table.ec_groundtruth == evalutation_table.ec_islice) & ((evalutation_table.functionCounts_groundtruth==1) | (evalutation_table.functionCounts_groundtruth==0))]

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,functionCounts_deepec,ec_ecpred,isemzyme_ecpred,functionCounts_ecpred,ec_catfam,isenzyme_catfam,functionCounts_catfam,ec_priam,isenzyme_priam,functionCounts_priam,ec_islice,isenzyme_islice,functionCounts_islice,testec_samples,trainec_samples
2,X2JE85,True,1,1.14.14.150,True,1.0,1.14.13.120,1.14.13.120,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.120, 1.14.13.121, 1.14.13.119, 1.1.1.3...",True,71,1.14.14.150,1,1,1.0,NaN
5,X1WBB5,True,1,2.3.1.225,True,1.0,2.3.1.225,2.3.1.225,1,1.0,2.3.1.225,True,1.0,NaN,False,1,2.3.1.225,True,1,2.3.1.225,1,1,27.0,192.0
7,W8JWW3,True,1,1.14.-.-,True,1.0,1.14.-.-,1.3.3.9,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.173, 1.3.3.9, 1.14.14.1, 1.14.13.97, 1...",True,31,1.14.-.-,1,1,35.0,405.0
9,W8JMV4,True,1,2.4.1.-,True,1.0,2.4.1.-,2.4.1.115,1,1.0,2.-.-.-,True,1.0,3.1.3.5,True,1,"2.4.1.271, 2.4.1.121, 2.4.1.298, 2.4.1.91, 2.4...",True,39,2.4.1.-,1,1,40.0,903.0
23,W6R4H4,True,1,2.1.1.-,True,1.0,2.1.1.-,NaN,0,NaN,2.1.1.-,True,1.0,NaN,False,1,"2.1.1.109, 2.1.1.94, 2.1.1.4, 2.1.1.118, 2.1.1...",True,7,2.1.1.-,1,1,118.0,2327.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8277,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
8278,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
8279,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
8280,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
8281,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0

In [210]:
big_table.iloc[:, np.r_[0:4,16:28,  28,14:16]]

,id,isemzyme,functionCounts,ec_number,isemzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,functionCounts_deepec,ec_ecpred,isemzyme_ecpred,functionCounts_ecpred,ec_catfam,isenzyme_catfam,functionCounts_catfam,ec_islice,pred_isEnzyme,pred_functionCounts
0,X5CY81,True,1,1.18.1.3,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,True,1.0,1.18.1.2,True,1.0,NaN,False,1,"1.18.1.2, 1.18.1.3",1,2
1,X2JI34,True,1,1.14.14.95,True,1.0,1.14.13.158,1.14.13.88,True,1.0,1.14.13.-,True,1.0,NaN,False,1,1.14.14.114,1,1
2,X2JE85,True,1,1.14.14.150,True,1.0,1.14.13.120,1.14.13.120,True,1.0,1.14.13.-,True,1.0,NaN,False,1,1.14.14.150,1,1
3,X1WBB5,True,1,2.3.1.225,True,1.0,2.3.1.225,2.3.1.225,True,1.0,2.3.1.225,True,1.0,NaN,False,1,2.3.1.225,1,1
4,W8JWW7,True,1,1.3.1.36,True,1.0,1.1.1.324,1.1.1.324,True,1.0,1.1.1.1,True,1.0,NaN,False,1,1.1.1.324,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6441,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,3.-.-.-,True,1.0,NaN,False,1,nan,0,1
6442,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,3.-.-.-,True,1.0,NaN,False,1,nan,0,1
6443,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,non Enzyme,False,1.0,NaN,False,1,nan,0,1
6444,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,non Enzyme,False,1.0,NaN,False,1,nan,0,1
6445,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,non Enzyme,False,1.0,NaN,False,1,nan,0,1

In [127]:
evalutation_table = eva.integrate_reslults(flat_table)

In [128]:
evalutation_table

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,ec_ecpred,isemzyme_ecpred,ec_catfam,isenzyme_catfam,isenzyme_islice,functionCounts_islice,ec_islice,testec_samples,trainec_samples
0,X5CY81,True,1,1.18.1.3,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,1,1.18.1.2,True,NaN,False,1,2,"1.18.1.2, 1.18.1.3",3.0,28.0
1,X2JI34,True,1,1.14.14.95,True,1.0,1.14.13.158,1.14.13.88,1,1.14.13.-,True,NaN,False,1,1,1.14.14.114,1.0,NaN
2,X2JE85,True,1,1.14.14.150,True,1.0,1.14.13.120,1.14.13.120,1,1.14.13.-,True,NaN,False,1,1,1.14.14.150,1.0,NaN
3,X1WBB5,True,1,2.3.1.225,True,1.0,2.3.1.225,2.3.1.225,1,2.3.1.225,True,NaN,False,1,1,2.3.1.225,27.0,192.0
4,W8JWW7,True,1,1.3.1.36,True,1.0,1.1.1.324,1.1.1.324,1,1.1.1.1,True,NaN,False,1,1,1.1.1.324,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6441,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,0,3.-.-.-,True,NaN,False,0,1,-,4454.0,246562.0
6442,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,0,3.-.-.-,True,NaN,False,0,1,-,4454.0,246562.0
6443,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0
6444,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0
6445,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0

In [132]:
 evalutation_table = eva.filter_newadded_ec(evalutation_table)

In [133]:
evalutation_table

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,ec_ecpred,isemzyme_ecpred,ec_catfam,isenzyme_catfam,isenzyme_islice,functionCounts_islice,ec_islice,testec_samples,trainec_samples
0,X5CY81,True,1,1.18.1.3,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,1,1.18.1.2,True,NaN,False,1,2,"1.18.1.2, 1.18.1.3",3.0,28.0
1,X1WBB5,True,1,2.3.1.225,True,1.0,2.3.1.225,2.3.1.225,1,2.3.1.225,True,NaN,False,1,1,2.3.1.225,27.0,192.0
2,W6QRI9,True,1,1.5.1.44,True,1.0,1.5.1.44,1.5.1.44,1,1.5.1.-,True,NaN,False,1,1,1.5.1.44,2.0,1.0
3,W6QL00,True,1,2.1.1.261,True,1.0,2.1.1.261,2.1.1.261,1,2.1.1.-,True,NaN,False,1,1,2.1.1.261,1.0,9.0
4,W6QIT2,True,1,1.1.1.205,True,1.0,1.1.1.205,1.1.1.205,1,1.1.1.205,True,1.1.1.205,True,1,1,1.1.1.205,1.0,70.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5994,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,0,3.-.-.-,True,NaN,False,0,1,-,4454.0,246562.0
5995,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,0,3.-.-.-,True,NaN,False,0,1,-,4454.0,246562.0
5996,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0
5997,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0
5998,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0

In [134]:
evalutation_table[evalutation_table.ec_groundtruth==evalutation_table.ec_islice]

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,ec_ecpred,isemzyme_ecpred,ec_catfam,isenzyme_catfam,isenzyme_islice,functionCounts_islice,ec_islice,testec_samples,trainec_samples
1,X1WBB5,True,1,2.3.1.225,True,1.0,2.3.1.225,2.3.1.225,1,2.3.1.225,True,NaN,False,1,1,2.3.1.225,27.0,192.0
2,W6QRI9,True,1,1.5.1.44,True,1.0,1.5.1.44,1.5.1.44,1,1.5.1.-,True,NaN,False,1,1,1.5.1.44,2.0,1.0
3,W6QL00,True,1,2.1.1.261,True,1.0,2.1.1.261,2.1.1.261,1,2.1.1.-,True,NaN,False,1,1,2.1.1.261,1.0,9.0
4,W6QIT2,True,1,1.1.1.205,True,1.0,1.1.1.205,1.1.1.205,1,1.1.1.205,True,1.1.1.205,True,1,1,1.1.1.205,1.0,70.0
5,W6QIM8,True,1,2.5.1.34,True,1.0,2.5.1.34,NaN,0,2.5.1.-,True,2.5.1.34,True,1,1,2.5.1.34,3.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5994,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,0,3.-.-.-,True,NaN,False,0,1,-,4454.0,246562.0
5995,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,0,3.-.-.-,True,NaN,False,0,1,-,4454.0,246562.0
5996,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0
5997,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0
5998,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,4454.0,246562.0

In [140]:
    num_enzyme = len(evalutation_table[evalutation_table.isenzyme_groundtruth])
    num_no_enzyme = len(evalutation_table[~evalutation_table.isenzyme_groundtruth])
    print(num_enzyme,num_no_enzyme)

1518 4481

In [142]:
evalutation_table[(evalutation_table.isenzyme_groundtruth) &(evalutation_table.ec_groundtruth!=evalutation_table.ec_islice)]

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,ec_ecpred,isemzyme_ecpred,ec_catfam,isenzyme_catfam,isenzyme_islice,functionCounts_islice,ec_islice,testec_samples,trainec_samples
0,X5CY81,True,1,1.18.1.3,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,1,1.18.1.2,True,NaN,False,1,2,"1.18.1.2, 1.18.1.3",3.0,28.0
6,W6Q9S9,True,1,1.3.1.100,False,0.0,-,1.3.1.100,1,1.3.1.-,True,1.6.99.1,True,0,0,-,2.0,1.0
9,W6Q0S4,True,1,2.3.1.205,NaN,NaN,NaN,NaN,0,2.3.-.-,True,NaN,False,1,1,2.7.7.6,1.0,1.0
10,W5QJZ5,True,2,"1.14.11.61, 1.14.11.62",False,0.0,-,1.14.11.20,1,1.14.11.-,True,NaN,False,0,0,-,NaN,NaN
16,W3XA95,True,1,3.4.11.5,True,1.0,2.3.1.51,NaN,0,3.1.1.-,True,3.4.11.5,True,1,1,2.3.1.51,4.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513,A0A059TC02,True,2,"1.2.1.44, 1.2.1.-",True,1.0,1.2.1.44,1.2.1.44,1,1.2.1.-,True,NaN,False,1,1,1.2.1.44,NaN,NaN
1514,A0A024RBG1,True,1,3.6.1.52,True,2.0,"3.6.1.52, 3.6.1.-",3.6.1.52,1,3.6.1.-,True,3.6.1.52,True,1,2,"3.6.1.52, 3.6.1.-",1.0,19.0
1515,A0A023GS29,True,2,"1.14.11.61, 1.14.11.62",False,0.0,-,1.14.11.20,1,1.21.-.-,True,NaN,False,0,0,-,NaN,NaN
1516,A0A023GS28,True,2,"1.14.11.61, 1.14.11.62",False,0.0,-,1.14.11.20,1,1.14.11.-,True,NaN,False,0,0,-,NaN,NaN
1517,A0A009IHW8,True,1,3.2.2.6,NaN,NaN,NaN,NaN,0,non Enzyme,False,NaN,False,0,1,-,23.0,10.0

In [141]:
883/1581

0.5585072738772928

In [144]:
evalutation_table[(evalutation_table.functionCounts_groundtruth>1) &(evalutation_table.ec_groundtruth==evalutation_table.ec_islice)]

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,ec_ecpred,isemzyme_ecpred,ec_catfam,isenzyme_catfam,isenzyme_islice,functionCounts_islice,ec_islice,testec_samples,trainec_samples
60,Q9XWF6,True,2,"2.3.2.23, 2.3.2.25",True,2.0,"2.3.2.23, 2.3.2.25",2.3.2.25,1,2.3.2.23,True,6.3.2.19,True,1,2,"2.3.2.23, 2.3.2.25",NaN,NaN
74,Q9WNW0,True,3,"3.6.4.-, 3.4.22.-, 2.7.7.48",True,3.0,"3.6.4.-, 3.4.22.-, 2.7.7.48",NaN,0,non Enzyme,False,2.7.7.48,True,1,3,"3.6.4.-, 3.4.22.-, 2.7.7.48",NaN,NaN
75,Q9WNW0,True,3,"3.6.4.-, 3.4.22.-, 2.7.7.48",True,3.0,"3.6.4.-, 3.4.22.-, 2.7.7.48",NaN,0,non Enzyme,False,3.6.1.15,True,1,3,"3.6.4.-, 3.4.22.-, 2.7.7.48",NaN,NaN
82,Q9VZI2,True,2,"2.7.10.2, 2.7.11.1",True,2.0,"2.7.10.2, 2.7.11.1",NaN,0,2.7.10.2,True,2.7.10.2,True,1,2,"2.7.10.2, 2.7.11.1",NaN,NaN
108,Q9QWE9,True,3,"3.4.19.13, 2.3.2.2, 3.4.19.14",True,3.0,"3.4.19.13, 2.3.2.2, 3.4.19.14",3.4.19.14,1,NaN,NaN,2.3.2.2,True,1,3,"3.4.19.13, 2.3.2.2, 3.4.19.14",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1473,A0A0E3D8M9,True,4,"2.5.1.-, 2.5.1.1, 2.5.1.29, 2.5.1.10",True,4.0,"2.5.1.-, 2.5.1.1, 2.5.1.29, 2.5.1.10",2.5.1.10,1,2.5.1.-,True,2.5.1.10,True,1,4,"2.5.1.-, 2.5.1.1, 2.5.1.29, 2.5.1.10",NaN,NaN
1479,A0A0B4IF96,True,2,"4.2.3.163, 4.2.3.171",True,2.0,"4.2.3.163, 4.2.3.171",NaN,0,4.2.-.-,True,NaN,False,1,2,"4.2.3.163, 4.2.3.171",NaN,NaN
1480,A0A0B4GN88,True,2,"4.2.3.163, 4.2.3.171",True,2.0,"4.2.3.163, 4.2.3.171",NaN,0,4.-.-.-,True,NaN,False,1,2,"4.2.3.163, 4.2.3.171",NaN,NaN
1482,A0A0B4G3Q7,True,2,"4.2.3.163, 4.2.3.171",True,2.0,"4.2.3.163, 4.2.3.171",NaN,0,4.2.-.-,True,NaN,False,1,2,"4.2.3.163, 4.2.3.171",NaN,NaN
1483,A0A0B4FWC3,True,2,"4.2.3.163, 4.2.3.171",True,2.0,"4.2.3.163, 4.2.3.171",NaN,0,4.2.-.-,True,NaN,False,1,2,"4.2.3.163, 4.2.3.171",NaN,NaN

In [145]:
evalutation_table[(evalutation_table.functionCounts_groundtruth>1) &(evalutation_table.ec_groundtruth==evalutation_table.ec_blast)]

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,ec_ecpred,isemzyme_ecpred,ec_catfam,isenzyme_catfam,isenzyme_islice,functionCounts_islice,ec_islice,testec_samples,trainec_samples
60,Q9XWF6,True,2,"2.3.2.23, 2.3.2.25",True,2.0,"2.3.2.23, 2.3.2.25",2.3.2.25,1,2.3.2.23,True,6.3.2.19,True,1,2,"2.3.2.23, 2.3.2.25",NaN,NaN
74,Q9WNW0,True,3,"3.6.4.-, 3.4.22.-, 2.7.7.48",True,3.0,"3.6.4.-, 3.4.22.-, 2.7.7.48",NaN,0,non Enzyme,False,2.7.7.48,True,1,3,"3.6.4.-, 3.4.22.-, 2.7.7.48",NaN,NaN
75,Q9WNW0,True,3,"3.6.4.-, 3.4.22.-, 2.7.7.48",True,3.0,"3.6.4.-, 3.4.22.-, 2.7.7.48",NaN,0,non Enzyme,False,3.6.1.15,True,1,3,"3.6.4.-, 3.4.22.-, 2.7.7.48",NaN,NaN
82,Q9VZI2,True,2,"2.7.10.2, 2.7.11.1",True,2.0,"2.7.10.2, 2.7.11.1",NaN,0,2.7.10.2,True,2.7.10.2,True,1,2,"2.7.10.2, 2.7.11.1",NaN,NaN
108,Q9QWE9,True,3,"3.4.19.13, 2.3.2.2, 3.4.19.14",True,3.0,"3.4.19.13, 2.3.2.2, 3.4.19.14",3.4.19.14,1,NaN,NaN,2.3.2.2,True,1,3,"3.4.19.13, 2.3.2.2, 3.4.19.14",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1473,A0A0E3D8M9,True,4,"2.5.1.-, 2.5.1.1, 2.5.1.29, 2.5.1.10",True,4.0,"2.5.1.-, 2.5.1.1, 2.5.1.29, 2.5.1.10",2.5.1.10,1,2.5.1.-,True,2.5.1.10,True,1,4,"2.5.1.-, 2.5.1.1, 2.5.1.29, 2.5.1.10",NaN,NaN
1479,A0A0B4IF96,True,2,"4.2.3.163, 4.2.3.171",True,2.0,"4.2.3.163, 4.2.3.171",NaN,0,4.2.-.-,True,NaN,False,1,2,"4.2.3.163, 4.2.3.171",NaN,NaN
1480,A0A0B4GN88,True,2,"4.2.3.163, 4.2.3.171",True,2.0,"4.2.3.163, 4.2.3.171",NaN,0,4.-.-.-,True,NaN,False,1,2,"4.2.3.163, 4.2.3.171",NaN,NaN
1482,A0A0B4G3Q7,True,2,"4.2.3.163, 4.2.3.171",True,2.0,"4.2.3.163, 4.2.3.171",NaN,0,4.2.-.-,True,NaN,False,1,2,"4.2.3.163, 4.2.3.171",NaN,NaN
1483,A0A0B4FWC3,True,2,"4.2.3.163, 4.2.3.171",True,2.0,"4.2.3.163, 4.2.3.171",NaN,0,4.2.-.-,True,NaN,False,1,2,"4.2.3.163, 4.2.3.171",NaN,NaN

In [146]:
evalutation_table[(evalutation_table.functionCounts_groundtruth>1)]

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,ec_ecpred,isemzyme_ecpred,ec_catfam,isenzyme_catfam,isenzyme_islice,functionCounts_islice,ec_islice,testec_samples,trainec_samples
10,W5QJZ5,True,2,"1.14.11.61, 1.14.11.62",False,0.0,-,1.14.11.20,1,1.14.11.-,True,NaN,False,0,0,-,NaN,NaN
20,W0T4A7,True,3,"2.3.1.268, 3.1.2.1, 3.1.1.-",True,3.0,"2.2.1.9, 4.2.1.113, 4.2.99.20",NaN,0,3.1.-.-,True,NaN,False,1,3,"2.2.1.9, 4.2.1.113, 4.2.99.20",NaN,NaN
22,V9M398,True,2,"3.2.2.6, 3.2.2.-",False,0.0,-,NaN,0,non Enzyme,False,NaN,False,0,0,-,NaN,NaN
36,T2KMH5,True,3,"4.2.2.-, 4.2.2.20, 4.2.2.8",NaN,NaN,NaN,NaN,0,no Prediction,True,NaN,False,1,1,2.7.11.1,NaN,NaN
39,T2KM26,True,2,"3.1.6.-, 3.2.1.40",True,1.0,3.1.6.1,NaN,0,3.1.6.-,True,NaN,False,1,1,3.1.6.1,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1508,A0A068Q609,True,2,"1.14.14.44, 1.14.14.77",True,1.0,1.14.13.121,NaN,0,1.14.13.-,True,2.7.7.6,True,1,1,1.14.14.151,NaN,NaN
1511,A0A061B0Q2,True,3,"2.3.1.268, 3.1.2.1, 3.1.1.-",True,1.0,3.5.1.29,NaN,0,3.1.-.-,True,NaN,False,1,1,3.5.1.29,NaN,NaN
1513,A0A059TC02,True,2,"1.2.1.44, 1.2.1.-",True,1.0,1.2.1.44,1.2.1.44,1,1.2.1.-,True,NaN,False,1,1,1.2.1.44,NaN,NaN
1515,A0A023GS29,True,2,"1.14.11.61, 1.14.11.62",False,0.0,-,1.14.11.20,1,1.21.-.-,True,NaN,False,0,0,-,NaN,NaN
1516,A0A023GS28,True,2,"1.14.11.61, 1.14.11.62",False,0.0,-,1.14.11.20,1,1.14.11.-,True,NaN,False,0,0,-,NaN,NaN

In [356]:
# 1. 读入数据
train = pd.read_feather(cfg.DATADIR+'train.feather').iloc[:,:6]
test = pd.read_feather(cfg.DATADIR+'test.feather').iloc[:,:6]
test = test[(test.ec_specific_level>=cfg.TRAIN_USE_SPCIFIC_EC_LEVEL) |(~test.isemzyme)]
test.reset_index(drop=True, inplace=True)
# EC-标签字典
dict_ec_label = np.load(cfg.DATADIR + 'ec_label_dict.npy', allow_pickle=True).item()
file_blast_res = cfg.RESULTSDIR + r'test_blast_res.tsv'

flat_table = eva.load_res_data(
    file_slice=cfg.FILE_INTE_RESULTS,
    file_blast=cfg.FILE_BLAST_RESULTS,
    file_deepec=cfg.FILE_DEEPEC_RESULTS,
    file_ecpred=cfg.FILE_ECPRED_RESULTS,
    file_catfam = cfg.FILE_CATFAM_RESULTS,
    file_priam = cfg.FILE_PRIAM_RESULTS,
    train=train,
    test=test
    )

# evalutation_table = eva.integrate_reslults(flat_table)

In [352]:
big_table=flat_table

In [158]:
5169/6446

0.8018926466025442

In [357]:
flat_table

,id,isemzyme,functionCounts,ec_number,pred_ec1,pred_ec2,pred_ec3,pred_ec4,pred_ec5,pred_ec6,pred_ec7,pred_ec8,pred_ec9,pred_ec10,pred_isEnzyme,pred_functionCounts,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,functionCounts_deepec,ec_ecpred,isemzyme_ecpred,functionCounts_ecpred,ec_catfam,isenzyme_catfam,functionCounts_catfam,ec_priam,isenzyme_priam,functionCounts_priam
0,X5CY81,True,1,1.18.1.3,1.18.1.2,1.18.1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,True,1.0,1.18.1.2,True,1.0,NaN,False,1,"1.18.1.3, 1.18.1.5, 1.18.1.1, 1.6.5.4, 1.6.99....",True,18
1,X2JI34,True,1,1.14.14.95,1.14.14.114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,True,1.0,1.14.13.158,1.14.13.88,True,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.1.1.314, 1.14.13.123, 1.14.13.158, 1.14.13.1...",True,75
2,X2JE85,True,1,1.14.14.150,1.14.14.150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,True,1.0,1.14.13.120,1.14.13.120,True,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.120, 1.14.13.121, 1.14.13.119, 1.1.1.3...",True,71
3,X2EW55,True,1,1.14.14.-,1.14.14.141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,True,1.0,1.14.13.102,1.14.13.102,True,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.102, 1.14.13.104, 4.99.1.6, 1.14.13.88...",True,78
4,X2EVV9,True,1,1.14.14.-,1.14.-.-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,True,1.0,1.14.-.-,NaN,NaN,NaN,1.14.13.-,True,1.0,NaN,False,1,"1.14.14.37, 1.14.13.119, 1.14.14.41, 1.14.13.1...",True,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7850,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1
7851,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1
7852,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1
7853,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1
7854,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,NaN,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1

In [332]:
f = open(cfg.FILE_PRIAM_RESULTS)
line = f.readline()
counter =0

reslist=[]
lstr =''
subec=[]
while line:
    if '>' in line:
        if counter !=0:
            reslist +=[[lstr, ', '.join(subec)]]
            subec=[]
        lstr = line.replace('>', '').replace('\n', '')
        
    elif line.strip()!='':
        ecarray = line.split('\t')
        subec += [(ecarray[0].replace('#', '').replace('\n', '').replace(' ', '') )]

    line = f.readline()
    
    counter +=1
f.close()

res_priam=pd.DataFrame(reslist, columns=['id', 'ec_priam'])

In [333]:
res_priam

          id                                           ec_priam
0     P0DQF2                                 2.3.1.48, 4.1.1.65
1     P0DQE2                                           3.1.1.99
2     P0DQE1                                            3.6.1.3
3     P0DQH6                                 3.5.99.6, 2.4.1.82
4     P0DQH2                       1.8.5.1, 2.5.1.18, 3.4.21.53
...      ...                                                ...
5037  D3GE74  3.6.3.25, 3.6.3.36, 3.6.3.17, 3.6.3.28, 3.6.3....
5038  Q9NTI2      3.6.3.1, 3.6.3.8, 3.6.3.6, 3.4.22.45, 3.1.3.3
5039  D4AA47                         3.6.3.1, 3.6.3.8, 3.6.3.10
5040  F1RBC8  3.6.3.47, 3.6.3.41, 3.6.3.30, 3.6.3.27, 3.6.3....
5041  Q7JUN3  3.6.3.47, 3.6.3.31, 3.6.3.30, 3.6.3.41, 3.6.3....

[5042 rows x 2 columns]

In [358]:
big_table['ec_islice']=big_table.apply(lambda x : ', '.join(x.iloc[4:(x.pred_functionCounts+4)].values.astype('str')), axis=1)

#给非酶赋-
with pd.option_context('mode.chained_assignment', None):
    big_table.ec_islice[big_table.ec_islice=='nan']='-'
    big_table.ec_islice[big_table.ec_islice=='']='-'
    big_table['isemzyme_deepec']=big_table.ec_deepec.apply(lambda x : 0 if str(x)=='nan' else 1)

In [359]:
big_table

,id,isemzyme,functionCounts,ec_number,pred_ec1,pred_ec2,pred_ec3,pred_ec4,pred_ec5,pred_ec6,pred_ec7,pred_ec8,pred_ec9,pred_ec10,pred_isEnzyme,pred_functionCounts,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,functionCounts_deepec,ec_ecpred,isemzyme_ecpred,functionCounts_ecpred,ec_catfam,isenzyme_catfam,functionCounts_catfam,ec_priam,isenzyme_priam,functionCounts_priam,ec_islice
0,X5CY81,True,1,1.18.1.3,1.18.1.2,1.18.1.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,1,1.0,1.18.1.2,True,1.0,NaN,False,1,"1.18.1.3, 1.18.1.5, 1.18.1.1, 1.6.5.4, 1.6.99....",True,18,"1.18.1.2, 1.18.1.3"
1,X2JI34,True,1,1.14.14.95,1.14.14.114,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,True,1.0,1.14.13.158,1.14.13.88,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.1.1.314, 1.14.13.123, 1.14.13.158, 1.14.13.1...",True,75,1.14.14.114
2,X2JE85,True,1,1.14.14.150,1.14.14.150,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,True,1.0,1.14.13.120,1.14.13.120,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.120, 1.14.13.121, 1.14.13.119, 1.1.1.3...",True,71,1.14.14.150
3,X2EW55,True,1,1.14.14.-,1.14.14.141,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,True,1.0,1.14.13.102,1.14.13.102,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.102, 1.14.13.104, 4.99.1.6, 1.14.13.88...",True,78,1.14.14.141
4,X2EVV9,True,1,1.14.14.-,1.14.-.-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1,True,1.0,1.14.-.-,NaN,0,NaN,1.14.13.-,True,1.0,NaN,False,1,"1.14.14.37, 1.14.13.119, 1.14.14.41, 1.14.13.1...",True,71,1.14.-.-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7850,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-
7851,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-
7852,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-
7853,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-
7854,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-

In [371]:
big_table

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,functionCounts_deepec,ec_ecpred,isemzyme_ecpred,functionCounts_ecpred,ec_catfam,isenzyme_catfam,functionCounts_catfam,ec_priam,isenzyme_priam,functionCounts_priam,ec_islice,isenzyme_islice,functionCounts_islice,ec_number,testec_samples,trainec_samples
0,X5CY81,True,1,1.18.1.3,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,1,1.0,1.18.1.2,True,1.0,NaN,False,1,"1.18.1.3, 1.18.1.5, 1.18.1.1, 1.6.5.4, 1.6.99....",True,18,"1.18.1.2, 1.18.1.3",1,2,1.18.1.3,3.0,28.0
1,X2JI34,True,1,1.14.14.95,True,1.0,1.14.13.158,1.14.13.88,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.1.1.314, 1.14.13.123, 1.14.13.158, 1.14.13.1...",True,75,1.14.14.114,1,1,1.14.14.95,1.0,NaN
2,X2JE85,True,1,1.14.14.150,True,1.0,1.14.13.120,1.14.13.120,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.120, 1.14.13.121, 1.14.13.119, 1.1.1.3...",True,71,1.14.14.150,1,1,1.14.14.150,1.0,NaN
3,X2EW55,True,1,1.14.14.-,True,1.0,1.14.13.102,1.14.13.102,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.102, 1.14.13.104, 4.99.1.6, 1.14.13.88...",True,78,1.14.14.141,1,1,1.14.14.-,25.0,65.0
4,X2EVV9,True,1,1.14.14.-,True,1.0,1.14.-.-,NaN,0,NaN,1.14.13.-,True,1.0,NaN,False,1,"1.14.14.37, 1.14.13.119, 1.14.14.41, 1.14.13.1...",True,71,1.14.-.-,1,1,1.14.14.-,25.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7850,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-,0,1,-,4454.0,246562.0
7851,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-,0,1,-,4454.0,246562.0
7852,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,-,4454.0,246562.0
7853,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,-,4454.0,246562.0
7854,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,-,4454.0,246562.0

In [366]:
    big_table=big_table.iloc[:, np.r_[0:4,16:31,31, 14:16]]
    big_table = big_table.rename(columns={'isemzyme': 'isenzyme_groundtruth',
                                            'functionCounts': 'functionCounts_groundtruth',
                                            'ec_number': 'ec_groundtruth',
                                            'pred_isEnzyme': 'isenzyme_islice',
                                            'pred_functionCounts': 'functionCounts_islice',
                                            'isemzyme_blast':'isenzyme_blast'
                                            })  
    # 拼合训练测试样本数
    samplecounts = pd.read_csv(cfg.DATADIR + 'ecsamplecounts.tsv', sep = '\t')

    big_table = big_table.merge(samplecounts, left_on='ec_groundtruth', right_on='ec_number', how='left')

In [373]:
big_table.iloc[:, np.r_[0:22,23:25]]

,id,isenzyme_groundtruth,functionCounts_groundtruth,ec_groundtruth,isenzyme_blast,functionCounts_blast,ec_blast,ec_deepec,isemzyme_deepec,functionCounts_deepec,ec_ecpred,isemzyme_ecpred,functionCounts_ecpred,ec_catfam,isenzyme_catfam,functionCounts_catfam,ec_priam,isenzyme_priam,functionCounts_priam,ec_islice,isenzyme_islice,functionCounts_islice,testec_samples,trainec_samples
0,X5CY81,True,1,1.18.1.3,True,2.0,"1.18.1.2, 1.18.1.3",1.18.1.2,1,1.0,1.18.1.2,True,1.0,NaN,False,1,"1.18.1.3, 1.18.1.5, 1.18.1.1, 1.6.5.4, 1.6.99....",True,18,"1.18.1.2, 1.18.1.3",1,2,3.0,28.0
1,X2JI34,True,1,1.14.14.95,True,1.0,1.14.13.158,1.14.13.88,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.1.1.314, 1.14.13.123, 1.14.13.158, 1.14.13.1...",True,75,1.14.14.114,1,1,1.0,NaN
2,X2JE85,True,1,1.14.14.150,True,1.0,1.14.13.120,1.14.13.120,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.120, 1.14.13.121, 1.14.13.119, 1.1.1.3...",True,71,1.14.14.150,1,1,1.0,NaN
3,X2EW55,True,1,1.14.14.-,True,1.0,1.14.13.102,1.14.13.102,1,1.0,1.14.13.-,True,1.0,NaN,False,1,"1.14.13.102, 1.14.13.104, 4.99.1.6, 1.14.13.88...",True,78,1.14.14.141,1,1,25.0,65.0
4,X2EVV9,True,1,1.14.14.-,True,1.0,1.14.-.-,NaN,0,NaN,1.14.13.-,True,1.0,NaN,False,1,"1.14.14.37, 1.14.13.119, 1.14.14.41, 1.14.13.1...",True,71,1.14.-.-,1,1,25.0,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7850,A0A023FFB5,False,0,-,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
7851,A0A023FF81,False,0,-,NaN,NaN,NaN,NaN,0,NaN,3.-.-.-,True,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
7852,A0A023FDY8,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
7853,A0A023FBW7,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0
7854,A0A023FBW4,False,0,-,NaN,NaN,NaN,NaN,0,NaN,non Enzyme,False,1.0,NaN,False,1,NaN,False,1,-,0,1,4454.0,246562.0