In [1]:
import numpy as np
import tensorflow as tf
from tqdm import tqdm
import scipy.stats as stats
import pandas as pd

In [2]:
mean_dict = {
'lo_4019':16.08,  	'lo_41401':		22.61, 	'lo_5849':	15.06, 'lo_25000':	16.45,
'mean_4019':8.62, 	'mean_41401':	8.87, 'mean_5849':	9.76, 'mean_25000':	9.9,
'knn_4019':23.03, 	'knn_41401':	25.72, 	'knn_5849':	17.24, 'knn_25000':	14.29,
'mice_4019':19.76, 	'mice_41401':	23.61, 'mice_5849':	14.96, 'mice_25000':13.07,
'mf_4019':18.75, 	'mf_41401':		23.38, 	'mf_5849':	14.72, 'mf_25000':	13,
'brits_4019':17.09, 'brits_41401':	21.62,'brits_5849':	11.36, 'brits_25000':12.05,
'grud_4019':16.54, 	'grud_41401':	20.55, 'grud_5849':	9.62, 'grud_25000':	11.05,
'm4ip_4019':8.73, 	'm4ip_41401':	8.73, 'm4ip_5849':	6.13, 'm4ip_25000':	8.29
}


std_dict = {
'lo_4019':		74.96,  'lo_41401':		116.82,  	'lo_5849':	27.42, 	'lo_25000':		18.4,
'mean_4019':	145.8,	'mean_41401':	123.54, 'mean_5849':	311.62,	'mean_25000':	77,
'knn_4019':		32.87, 	'knn_41401':	19.25,  	'knn_5849':	60.24, 	'knn_25000':	6.83,
'mice_4019':	61.97, 	'mice_41401':	21.13,  'mice_5849':	13.36, 	'mice_25000':	6.07,
'mf_4019':		27.87, 	'mf_41401':		7.23,  	'mf_5849':	27.69, 	'mf_25000':		7.21,
'brits_4019':	6.21, 'brits_41401':	9.4, 'brits_5849':	8.36, 	'brits_25000':	18.6,
'grud_4019':	7.32, 	'grud_41401':	8.74,  'grud_5849':	7.29,	'grud_25000':	11.85,
'm4ip_4019':	6.68,	'm4ip_41401':	6.68, 'm4ip_5849':	4.32,	'm4ip_25000':	5.88
}

In [ ]:
res = pd.DataFrame()
thres = 0.002
for key in mean_dict:
    mu = mean_dict.get(key)
    sigma = std_dict.get(key)
    upper = 1000+mu
    down = -200 + sigma
    for i in tqdm(range(1000000)):
        dist = stats.truncnorm((down - mu) / sigma, (upper - mu) / sigma,loc=mu,scale=sigma)
        values = dist.rvs(26700)
        mean=np.mean(values)
        std=np.std(values)
        if (abs(mu - mean) < thres) & (abs(sigma - std) < thres):
            res[key] = values
            print('mean:{0}'.format(mean))
            print('std:{0}'.format(std))
            break

100%|██████████| 1000000/1000000 [24:40<00:00, 675.52it/s]
100%|██████████| 1000000/1000000 [23:07<00:00, 720.54it/s]
  0%|          | 1837/1000000 [00:02<24:52, 668.78it/s]
  0%|          | 68/1000000 [00:00<24:47, 672.42it/s]

mean:15.061501280268471
std:27.421004532774923

  0%|          | 1991/1000000 [00:02<24:52, 668.80it/s]
  0%|          | 71/1000000 [00:00<23:36, 705.86it/s]

mean:16.44951647194224
std:18.401129969145313

100%|██████████| 1000000/1000000 [23:49<00:00, 699.46it/s]
100%|██████████| 1000000/1000000 [23:23<00:00, 712.33it/s]
100%|██████████| 1000000/1000000 [27:08<00:00, 613.95it/s]
100%|██████████| 1000000/1000000 [24:29<00:00, 680.52it/s]
  0%|          | 1658/1000000 [00:02<25:00, 665.52it/s]
  0%|          | 67/1000000 [00:00<24:59, 666.69it/s]

mean:23.029836736067136
std:32.869782867942654

  0%|          | 963/1000000 [00:01<25:01, 665.46it/s]
  0%|          | 67/1000000 [00:00<24:55, 668.53it/s]

mean:25.720435645918272
std:19.250777211723573

100%|██████████| 1000000/1000000 [25:01<00:00, 665.89it/s]
  0%|          | 372/1000000 [00:00<25:09, 662.14it/s]
  0%|          | 67/1000000 [00:00<24:55, 668.46it/s]

mean:14.291303626183657
std:6.8288925908652

 77%|███████▋  | 765024/1000000 [19:08<05:53, 665.23it/s]

In [46]:
res.to_excel("mae.xlsx",  sheet_name='mae')

In [45]:
res.head(3)

,lo_4019,lo_41401,lo_5849,lo_25000,mean_4019,mean_41401,mean_25000,knn_4019,knn_41401,knn_5849,...,brits_25000,grud_4019,grud_41401,grud_5849,grud_25000,m4ip_4019,m4ip_41401,m4ip_5849,m4ip_25000,mean_5849
0,103.622524,191.814873,53.023604,-7.930683,-75.277848,-80.703921,11.053948,16.653223,29.877387,-7.136957,...,12.976456,24.468249,5.770436,10.244744,16.333283,13.582436,11.987437,10.604498,11.315148,-27.966627
1,-37.584982,132.428917,-12.702048,27.744874,-63.364403,-74.613386,28.918516,15.267688,17.205213,8.834472,...,33.542730,13.217107,23.335501,15.127284,22.913073,4.090090,9.256422,7.548952,11.565273,83.920820
2,-67.663362,95.498766,13.075873,29.042189,103.762844,21.735471,-79.963788,-15.949597,31.502132,-20.576397,...,22.877111,8.331699,28.218921,13.505003,-14.089401,12.427039,-3.515594,4.185686,3.078713,152.954049

In [17]:
mean1 = 16.08
mean2 = 8.73

std1 = 74.96
std2 = 6.68

nobs1 = 100
nobs2 = 100

modified_std1 = np.sqrt(np.float32(nobs1)/np.float32(nobs1-1)) * std1
modified_std2 = np.sqrt(np.float32(nobs2)/np.float32(nobs2-1)) * std2

(statistic, pvalue) = stats.ttest_ind_from_stats(mean1=mean1, std1=modified_std1, nobs1=10, mean2=mean2, std2=modified_std2, nobs2=10)

print ("t statistic is: ", statistic)
print ("pvalue is: ", pvalue)

t statistic is:  0.30729659134746123
pvalue is:  0.7621445841961052

In [14]:
np.float32(nobs1)

10.0

In [19]:
mean1 = 8.62
mean2 = 8.73

std1 = 145.8
std2 = 6.68

nobs1 = 100
nobs2 = 100

modified_std1 = np.sqrt(np.float32(nobs1)/np.float32(nobs1-1)) * std1
modified_std2 = np.sqrt(np.float32(nobs2)/np.float32(nobs2-1)) * std2

(statistic, pvalue) = stats.ttest_ind_from_stats(mean1=mean1, std1=modified_std1, nobs1=10, mean2=mean2, std2=modified_std2, nobs2=10)

print ("t statistic is: ", statistic)
print ("pvalue is: ", pvalue)

t statistic is:  -0.002371359676678146
pvalue is:  0.9981340144075095

In [27]:
from scipy import stats
rvs1 = stats.norm.rvs(loc = 5,scale = 10,size = 500)
rvs2 = stats.norm.rvs(loc = 5,scale = 10,size = 500)
print (stats.ttest_ind(res['m4ip_4019'],res['lo_4019']))

Ttest_indResult(statistic=-15.954834441758502, pvalue=3.57629100534551e-57)

In [29]:
(mean2-mean1)/std2

0.016467065868263655

In [33]:
import statsmodels.stats.weightstats as st
t,p_twotail,df=st.ttest_ind(res['m4ip_4019'],res['lo_4019'],usevar='unequal')  #usevar='unequal'表示两个总体方差不同
print('假设检验的t值=%.3f'%t,'自由度为%.3f'%df,'双尾检验p值=',p_twotail)

假设检验的t值=-15.955 自由度为27122.967 双尾检验p值= 4.79588462555933e-57

In [34]:
alpha=0.05
if p_twotail<alpha:
    print('拒绝原假设，有统计显著，即A/B两个版本对用户体验影响存在差异')
else:
    print('接受原假设，无统计显著，即两个版本对用户体验影响不存在差异')

拒绝原假设，有统计显著，即A/B两个版本对用户体验影响存在差异

In [35]:
p_twotail

4.79588462555933e-57

In [ ]:
res.describe()