In [1]:
import numpy as np
import tensorflow as tf
from tqdm import tqdm
import scipy.stats as stats
import pandas as pd

In [2]:
mean_dict = {
'lo_4019':16.08,  	'lo_41401':		22.61, 	'lo_5849':	15.06, 'lo_25000':	16.45,
'mean_4019':8.62, 	'mean_41401':	8.87, 'mean_5849':	9.76, 'mean_25000':	9.9,
'knn_4019':23.03, 	'knn_41401':	25.72, 	'knn_5849':	17.24, 'knn_25000':	14.29,
'mice_4019':19.76, 	'mice_41401':	23.61, 'mice_5849':	14.96, 'mice_25000':13.07,
'mf_4019':18.75, 	'mf_41401':		23.38, 	'mf_5849':	14.72, 'mf_25000':	13,
'brits_4019':17.09, 'brits_41401':	21.62,'brits_5849':	11.36, 'brits_25000':12.05,
'grud_4019':16.54, 	'grud_41401':	20.55, 'grud_5849':	9.62, 'grud_25000':	11.05,
'm4ip_4019':8.73, 	'm4ip_41401':	8.73, 'm4ip_5849':	6.13, 'm4ip_25000':	8.29
}


std_dict = {
'lo_4019':		74.96,  'lo_41401':		116.82,  	'lo_5849':	27.42, 	'lo_25000':		18.4,
'mean_4019':	145.8,	'mean_41401':	123.54, 'mean_5849':	311.62,	'mean_25000':	77,
'knn_4019':		32.87, 	'knn_41401':	19.25,  	'knn_5849':	60.24, 	'knn_25000':	6.83,
'mice_4019':	61.97, 	'mice_41401':	21.13,  'mice_5849':	13.36, 	'mice_25000':	6.07,
'mf_4019':		27.87, 	'mf_41401':		7.23,  	'mf_5849':	27.69, 	'mf_25000':		7.21,
'brits_4019':	6.21, 'brits_41401':	9.4, 'brits_5849':	8.36, 	'brits_25000':	18.6,
'grud_4019':	7.32, 	'grud_41401':	8.74,  'grud_5849':	7.29,	'grud_25000':	11.85,
'm4ip_4019':	6.68,	'm4ip_41401':	6.68, 'm4ip_5849':	4.32,	'm4ip_25000':	5.88
}

In [ ]:
res = pd.DataFrame()
thres = 0.004
for key in mean_dict:
    mu = mean_dict.get(key)
    sigma = std_dict.get(key)
    upper = 1000+mu
    down = 0 + sigma
    for i in tqdm(range(3000000)):
        dist = stats.truncnorm((down - mu) / sigma, (upper - mu) / sigma,loc=mu,scale=sigma)
        values = dist.rvs(26700)
        mean=np.mean(values)
        std=np.std(values)
        if (abs(mu - mean) < thres) & (abs(sigma - std) < thres):
            res[key] = values
            print('mean:{0}'.format(mean))
            print('std:{0}'.format(std))
            break

100%|██████████| 3000000/3000000 [1:33:21<00:00, 535.55it/s]
 37%|███▋      | 1106985/3000000 [34:34<59:02, 534.34it/s]  IOPub message rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_msg_rate_limit`.

Current values:
ServerApp.iopub_msg_rate_limit=1000.0 (msgs/sec)
ServerApp.rate_limit_window=3.0 (secs)

100%|██████████| 3000000/3000000 [1:33:40<00:00, 533.74it/s]
 35%|███▌      | 1053171/3000000 [29:40<54:48, 591.96it/s]

In [7]:
res.to_excel("mae_2.xlsx",  sheet_name='mae')

In [5]:
res.head(3)

,lo_5849,lo_25000,knn_4019,knn_41401,knn_25000,mice_41401,mice_5849,mice_25000,mf_4019,mf_41401,...,brits_5849,brits_25000,grud_4019,grud_41401,grud_5849,grud_25000,m4ip_4019,m4ip_41401,m4ip_5849,m4ip_25000
0,5.918738,34.993679,38.040666,-8.443411,20.042265,13.392003,12.245063,12.504079,43.565055,21.980857,...,18.784119,18.396419,13.512241,20.959700,14.042656,13.093643,1.514495,11.620806,3.240638,15.953131
1,-53.915160,17.270444,8.537662,35.681853,11.767586,48.974940,33.826819,4.419667,25.257014,16.006183,...,13.517535,18.647527,18.385282,21.424843,21.864388,0.575170,14.392616,-4.163057,2.195984,2.326966
2,28.592118,6.697920,34.981186,39.184474,1.474471,35.153009,9.442430,16.203644,37.745529,16.988890,...,26.497607,19.305630,40.772757,35.232805,2.781763,-6.520627,8.960711,-1.270030,6.807583,8.685913

In [17]:
mean1 = 16.08
mean2 = 8.73

std1 = 74.96
std2 = 6.68

nobs1 = 100
nobs2 = 100

modified_std1 = np.sqrt(np.float32(nobs1)/np.float32(nobs1-1)) * std1
modified_std2 = np.sqrt(np.float32(nobs2)/np.float32(nobs2-1)) * std2

(statistic, pvalue) = stats.ttest_ind_from_stats(mean1=mean1, std1=modified_std1, nobs1=10, mean2=mean2, std2=modified_std2, nobs2=10)

print ("t statistic is: ", statistic)
print ("pvalue is: ", pvalue)

t statistic is:  0.30729659134746123
pvalue is:  0.7621445841961052

In [5]:
np.float32(nobs1)

NameError: name 'nobs1' is not defined

In [19]:
mean1 = 8.62
mean2 = 8.73

std1 = 145.8
std2 = 6.68

nobs1 = 100
nobs2 = 100

modified_std1 = np.sqrt(np.float32(nobs1)/np.float32(nobs1-1)) * std1
modified_std2 = np.sqrt(np.float32(nobs2)/np.float32(nobs2-1)) * std2

(statistic, pvalue) = stats.ttest_ind_from_stats(mean1=mean1, std1=modified_std1, nobs1=10, mean2=mean2, std2=modified_std2, nobs2=10)

print ("t statistic is: ", statistic)
print ("pvalue is: ", pvalue)

t statistic is:  -0.002371359676678146
pvalue is:  0.9981340144075095

In [27]:
from scipy import stats
rvs1 = stats.norm.rvs(loc = 5,scale = 10,size = 500)
rvs2 = stats.norm.rvs(loc = 5,scale = 10,size = 500)
print (stats.ttest_ind(res['m4ip_4019'],res['lo_4019']))

Ttest_indResult(statistic=-15.954834441758502, pvalue=3.57629100534551e-57)

In [29]:
(mean2-mean1)/std2

0.016467065868263655

In [33]:
import statsmodels.stats.weightstats as st
t,p_twotail,df=st.ttest_ind(res['m4ip_4019'],res['lo_4019'],usevar='unequal')  #usevar='unequal'表示两个总体方差不同
print('假设检验的t值=%.3f'%t,'自由度为%.3f'%df,'双尾检验p值=',p_twotail)

假设检验的t值=-15.955 自由度为27122.967 双尾检验p值= 4.79588462555933e-57

In [34]:
alpha=0.05
if p_twotail<alpha:
    print('拒绝原假设，有统计显著，即A/B两个版本对用户体验影响存在差异')
else:
    print('接受原假设，无统计显著，即两个版本对用户体验影响不存在差异')

拒绝原假设，有统计显著，即A/B两个版本对用户体验影响存在差异

In [35]:
p_twotail

4.79588462555933e-57

In [6]:
res.describe()

,lo_5849,lo_25000,knn_4019,knn_41401,knn_25000,mice_41401,mice_5849,mice_25000,mf_4019,mf_41401,...,brits_5849,brits_25000,grud_4019,grud_41401,grud_5849,grud_25000,m4ip_4019,m4ip_41401,m4ip_5849,m4ip_25000
count,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,...,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000,26700.000000
mean,15.059431,16.451594,23.028690,25.719542,14.291433,23.611644,14.958559,13.069159,18.751560,23.378468,...,11.358532,12.050794,16.539325,20.548940,9.621613,11.050040,8.731794,8.728182,6.130398,8.291583
std,27.420583,18.402222,32.869981,19.248862,6.831810,21.130762,13.361336,6.069138,27.869441,7.231637,...,8.359345,18.601876,7.321084,8.739774,7.291515,11.850179,6.679705,6.679664,4.321734,5.881034
min,-96.211113,-60.903722,-116.211116,-49.653839,-13.227275,-68.275586,-43.151669,-10.450487,-82.666970,-3.951993,...,-23.964394,-59.970643,-15.651767,-16.012825,-20.230834,-38.293718,-17.099670,-19.432499,-9.574401,-19.915053
25%,-3.461595,3.920338,0.675309,12.686517,9.690850,9.430561,5.864469,8.991326,-0.047800,18.478095,...,5.674735,-0.466677,11.618441,14.598404,4.697155,2.954420,4.154376,4.189650,3.201785,4.379672
50%,15.162041,16.737943,22.970272,25.712198,14.270899,23.395698,15.118439,13.077074,18.727906,23.381528,...,11.378614,11.967080,16.505375,20.527460,9.609077,11.089278,8.732880,8.754998,6.149584,8.317435
75%,33.376824,28.956457,45.246690,38.676322,18.860521,37.855860,24.050653,17.180293,37.624316,28.300499,...,16.973491,24.543780,21.449333,26.432501,14.541377,18.964037,13.225410,13.236028,9.049633,12.284354
max,129.931432,95.351759,162.917386,104.987882,41.559455,108.775405,67.257551,36.476395,117.555169,51.492148,...,45.317420,106.086389,48.020038,58.721354,35.629335,68.364668,38.464220,36.134719,25.704073,33.225172