In [31]:
import pandas as pd
import numpy as np
import time

In [10]:
sprot = pd.read_csv('./data/sprot_with_ec.tsv', sep='\t',names=['id', 'ec_number', 'seq']) #读入文件
sprot.head(3)

       id ec_number                                                seq
0  Q6GZW6   3.6.4.-  MDTSPYDFLKLYPWLSRGEADKGTLLDAFPGETFEQSLASDVAMRR...
1  Q6GZV6  2.7.11.1  MATNYCDEFERNPTRNPRTGRTIKRGGPVFRALERECSDGAARVFP...
2  Q197B6  2.7.11.-  MPLSVFAEEFAEKSVKRYIGQGLWLPCNLSDYYYYQEFHDEGGYGS...

In [36]:
start =  time.process_time()

counter =0
sprot_list =[]
for index, row in sprot.iterrows():
#     counter +=1
#     if counter ==5:
#         break
        
    rowid = row.id
    ec_array = row.ec_number.split(',')
    for item in ec_array:
        subitem = item.split('.')
        sprot_list.append([rowid, item ,subitem[0], subitem[1], subitem[2], subitem[3]])
end =  time.process_time()
print('finished use time %6.3f s' % (end - start))

finished use time 19.222 s

In [37]:
res = pd.DataFrame(sprot_list)
res.head(5)

        0         1  2  3   4  5
0  Q6GZW6   3.6.4.-  3  6   4  -
1  Q6GZV6  2.7.11.1  2  7  11  1
2  Q197B6  2.7.11.-  2  7  11  -
3  Q6GZS1   3.6.4.-  3  6   4  -
4  Q196Y0   3.6.1.-  3  6   1  -

In [39]:
res2 = res[1].value_counts()

In [40]:
res2.to_excel('./data/sprot_ec_statistic.xlsx', header=True, index=True)

In [43]:
sprot[sprot.ec_number=='4.4.1.36']

Empty DataFrame
Columns: [id, ec_number, seq]
Index: []

In [44]:
trembl= pd.read_csv('./data/trembl_with_ec.tsv', sep='\t',names=['id', 'ec_number', 'seq']) #读入文件

In [45]:
trembl[trembl.ec_number=='4.4.1.36']

,id,ec_number,seq
3161147,A0A6J8AV69,4.4.1.36,MGDMPDFGKEMREKEFDLKDGVTFINHGSYGVVPLRVQEAQNRVLY...
3167683,A0A6J8E854,4.4.1.36,MGEMYDLPDLWGNKTEFTKLEEATTALAGFVKADAEDFVFVQNITT...
3168107,A0A6J8AUK5,4.4.1.36,MGDMPDFGKEMREKEFDLKDGVTFINHGSYGVVPLRVQEAQNRVLY...
3169425,A0A6J8BDJ8,4.4.1.36,MDSSPDLWFRKNRRIKQDEARHCIAEFVQADPDDLVFVQNTTTGVN...
3175237,A0A6J8AXF5,4.4.1.36,MTAIPAFGNEIKKTDFTLKDGVVFVNHGSYGVVPKRVQQAQDRIIG...

In [5]:
import jax

In [6]:
from jax_unirep import get_reps

In [4]:
! nvcc --version

nvcc: NVIDIA (R) Cuda compiler driver
Copyright (c) 2005-2020 NVIDIA Corporation
Built on Tue_Sep_15_19:10:02_PDT_2020
Cuda compilation tools, release 11.1, V11.1.74
Build cuda_11.1.TC455_06.29069683_0