In [2]:
import pandas as pd

table_head = [  'id', 
                'isemzyme',
                'isMultiFunctional', 
                'functionCounts', 
                'ec_number', 
                'date_integraged',
                'date_sequence_update',
                'date_annotation_update',
                'seq', 
                'seqlength'
            ]

#加载数据并转换时间格式
sprot = pd.read_csv('../../data/sprot_full.tsv', sep='\t',names=table_head) #读入文件
sprot.date_integraged = pd.to_datetime(sprot['date_integraged'])
sprot.date_sequence_update = pd.to_datetime(sprot['date_sequence_update'])
sprot.date_annotation_update = pd.to_datetime(sprot['date_annotation_update'])

sprot.head(2)

,id,isemzyme,isMultiFunctional,functionCounts,ec_number,date_integraged,date_sequence_update,date_annotation_update,seq,seqlength
0,P02802,False,False,1,-,1986-07-21,1986-07-21,2021-04-07,MDPNCSCSTGGSCTCTSSCACKNCKCTSCKKSCCSCCPVGCSKCAQ...,61
1,P02732,False,False,1,-,1986-07-21,1986-07-21,2019-12-11,AATAATAATAATAATAATAATAATAATAATA,31

In [5]:
import datetime

thres = datetime.datetime(2010, 2, 10, 0, 0)

#训练集
train = sprot[sprot.date_integraged <= thres ].sort_values(by='date_integraged')
#测试集
test = sprot[sprot.date_integraged > thres ].sort_values(by='date_integraged')

In [11]:
test[test.isemzyme]

,id,isemzyme,isMultiFunctional,functionCounts,ec_number,date_integraged,date_sequence_update,date_annotation_update,seq,seqlength
510795,B3LFZ1,True,False,1,3.6.1.29,2010-03-02,2010-03-02,2021-04-07,MNKPIYFSKFLVTEQVFYKSKYTYALVNLKPIVPGHVLIVPLRTTV...,206
510787,Q17750,True,False,1,2.3.2.-,2010-03-02,1996-11-01,2021-04-07,MTSWADIQKLASDLQRVQLSQSSKKLSEVNCIEVLQKLIASHRIDV...,735
510786,B0WU24,True,False,1,2.3.2.-,2010-03-02,2008-04-08,2021-04-07,MTSDWDEIKRLASDFQKAQLTTSLQRLSERNCVEVVSLLIEKGLLE...,785
510784,B2GV24,True,False,1,2.3.2.-,2010-03-02,2008-06-10,2021-04-07,MADAWEEIRRLAADFQRAQFAESTQRLSERNCIEIVNKLISQKQLE...,793
510783,A6BM06,True,False,1,1.14.17.4,2010-03-02,2007-07-24,2020-10-07,MEIDIEKLPIIDISSFQNNENDKNQVAKEINKACKEYGFFYIKNHG...,368
...,...,...,...,...,...,...,...,...,...,...
564390,Q9HTC0,True,True,2,"2.4.1.-, 2.4.1.348",2021-04-07,2001-03-01,2021-04-07,MRVLHFYKTYLSETVGGIEQVIFQLCESSGSWGIDNHVLTLSSDPH...,381
564389,Q0IG34,True,True,2,"2.6.1.63, 2.6.1.44",2021-04-07,2006-10-03,2021-04-07,MKFTPPPSSLRGPLVIPDKIMMGPGPSNCSKRVLAALNNTCLSNFH...,400
564388,Q7PRG3,True,True,2,"2.6.1.63, 2.6.1.44",2021-04-07,2007-01-09,2021-04-07,MKFTPPPASLRNPLIIPEKIMMGPGPSNCSKRVLTAMTNTVLSNFH...,396
564385,Q8Y563,True,False,1,1.14.-.-,2021-04-07,2002-03-01,2021-04-07,MKKVFITTGTEHYLRQLMANYTGGNVTLLQNFSQSLLYQESTGEKL...,167
564391,Q06GJ0,True,False,1,3.2.1.52,2021-04-07,2006-10-31,2021-04-07,MWSRRIPLFIFGVLVLILSVAAEDVVWRWSCDNGKCVKLKNDPRSS...,594

In [14]:
245771/510490
# 264719/510490

0.48144136026170936